<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
<!--/*@thymesVar id="battles" type="java.util.List<com.estate.domain.entity.Game>"*/-->
<head th:replace="base.html :: head('Liste des battles')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li>Liste des battles</li>
            </ol>
        </div>
        <div class="row">
            <h4>Liste des battles</h4>
            <hr>
        </div>
        <div class="row">
            <div class="col mb-6">
                <button id="delete-items" role="link" class="d-none" onclick="invokeActionOnItems('battle/delete', 'supprimer')"></button>
                <div th:replace="base.html :: alert(${notification})"></div>
                <table id="data-list" data-pdf-title="LISTE DES BATTLE" data-pdf-name="Liste des battle" class="table table-striped table-bordered table-hover paging searching dataTable can-delete exclude-first-sort multiple-selection">
                    <thead>
                        <tr>
                            <th class="action fit-cell-content">
                                <input type="checkbox">
                            </th>
                            <th class="fit-cell-content">ID</th>
                            <th>Titre</th>
                            <th>Organisateur</th>
                            <th>Date et heure (GMT)</th>
                            <th>Durée (en minutes)</th>
                            <th>Participants</th>
                            <th>Participants au tirage au sort</th>
                            <th>Gagnant</th>
                            <th class="action fit-cell-content">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="battle,iter: ${battles}" th:data-id="${battle.id}">
                            <td>
                                <input th:data-index="${iter.count}" type="checkbox">
                            </td>
                            <td th:text="${battle.id}"></td>
                            <td th:text="${battle.title}"></td>
                            <td>
                                <a class="lazy-link" th:if="${battle.initiator != null}" th:href="@{'/player/view/' + ${battle.initiator?.id}}" th:text="${battle.initiator?.name}"></a>
                            </td>
                            <td th:text="${#temporals.format(battle.date, 'dd-MM-yyyy  HH:mm')}"></td>
                            <td th:text="${battle.duration}"></td>
                            <td th:text="${#lists.size(battle.participations)}"></td>
                            <td th:text="${battle.tombola}"></td>
                            <td>
                                <a class="lazy-link" th:if="${battle.winner != null}" th:href="@{'/player/view/' + ${battle.winner?.id}}" th:text="${battle.winner?.pseudo}"></a>
                            </td>
                            <td class="fit-cell-content text-center">
                                <a class="dropdown-toggle" tabindex="0" data-toggle="popover" data-placement="auto" data-trigger="focus" th:data-target="${'popover-content-' + battle.id}" href="#">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div th:id="${'popover-content-' + battle.id}" class="list-group" style="display: none">
                                    <a class="list-group-item lazy-link text-decoration-none text-left" th:href="@{'/battle/view/' + ${battle.id}}">
                                        <i class="fa fa-eye fa-fw"></i> Détails
                                    </a>
                                    <a class="list-group-item lazy-link text-decoration-none text-left" th:href="@{'/battle/save?id=' + ${battle.id}}">
                                        <i class="fa fa-pencil-square-o fa-fw"></i> Modifier
                                    </a>
                                    <a class="list-group-item text-decoration-none text-danger text-left" th:data-battle-id="${battle.id}" onclick="deleteItem(this.getAttribute('data-battle-id'), 'battle/delete')" href="#">
                                        <i class="fa fa-trash-o fa-fw"></i> Supprimer
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
                <div th:if="${totalPages > 1}" class="mt-6" id="pagination" th:title="${totalPages}" th:aria-placeholder="${currentPage}" aria-label="battle/list"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
