<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="base.html :: head('Modification de la battle')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/battle/list}">Liste des battles</a></li>
                <li>Modification de la battle</li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Formulaire</b>
                    </div>
                    <form onsubmit="submitForm(event)" th:action="@{/battle/save}" method="post" autocomplete="off">
                        <div class="panel-body">
                            <div class="row">
                                <input name="id" th:value="${game?.id}" type="hidden">
                                <div class="col-lg-12">
                                    <div th:each="ids,iter: ${questionIds}" class="row">
                                        <div class="form-group col-lg-12">
                                            <label th:for="${'questionIds' + iter.count}">Questions <span th:text="${'(Série ' + iter.count + ')'}"></span> <span th:if="${iter.first}" class="required-field">*</span></label>
                                            <input th:id="${'questionIds' + iter.count}" name="questionIds" th:value="${ids}" pattern="^\d+(,\d+)*$" class="form-control" th::required="${iter.first}">
                                            <p class="help-block">Portez les numéros des questions séparés des virgules. Exemple : 1,2,3,4,5,6,7,8,9,10</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="advertisementIds">Publicités <span class="required-field">*</span></label>
                                            <input id="advertisementIds" name="advertisementIds" th:value="${advertisementIds}" pattern="^\d+(,\d+)*$" class="form-control" required>
                                            <p class="help-block">Portez les numéros des publicités séparés des virgules. Exemple : 1,2,3,4</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="duration">Durée (en minutes) <span class="required-field">*</span></label>
                                            <input id="duration" name="duration" type="number" min="1" th:value="${game?.duration}" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer
                            </button>
                            <a role="button" th:href="@{'/battle/save?generate=true&type=' + ${game?.type} + '&id=' + ${game?.id}}" class="btn btn-default mx-2 lazy-link">
                                <i class="fa fa-random"></i>
                                &nbsp; Générer
                            </a>
                            <button type="reset" class="btn btn-default">
                                <i class="fa fa-refresh"></i>
                                &nbsp; Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
