<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="game" type="com.estate.domain.entity.Game"*/-->
<!--/*@thymesVar id="teams" type="java.util.List<com.estate.domain.dto.response.Team>"*/-->
<head th:insert="base.html :: head('Détails de la battle')"></head>
<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper" th:object="${game}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/battle/list}">Liste des battles</a></li>
                <li th:utext="*{'Détails de la battle <b>[ ' + id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt fa-fw"></i>
                        <b>Liste des questions</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped table-bordered border-none table-hover text-center vertical-align-middle dataTable">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>ID</th>
                                    <th>Question</th>
                                    <th>Durée (en secondes)</th>
                                    <th>Réponse</th>
                                    <th>Justification</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="question, iter: *{questions}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${question.id}"></td>
                                    <td>
                                        <a th:href="${question.formulationLink}" th:data-download-src="${question.formulationLink}" data-fancybox="quiz-questions" th:data-caption="${'<b>Question ' + question.id + '</b> | <b>Durée</b> : ' + question.duration + ' secondes'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}" th:text="${'Question-' + question.id}"></a>
                                    </td>
                                    <td th:text="${question.duration}"></td>
                                    <td th:text="${question.answer}"></td>
                                    <td>
                                        <a th:href="${question.justificationLink}" th:data-download-src="${question.justificationLink}" data-fancybox="quiz-answers" th:data-caption="${'<b>Question ' + question.id + '</b> | Réponse : <b>' + question.answer + '</b>'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}" th:text="${'Justification-' + question.id}"></a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(game?.questions)}" class="odd">
                                    <td valign="top" colspan="6" class="dataTables_empty">Aucune question</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt fa-fw"></i>
                        <b>Liste des publicités</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped table-bordered border-none table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th class="action fit-cell-content">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="advertisement: *{advertisements}">
                                    <td th:text="${advertisement.title}"></td>
                                    <td class="fit-cell-content text-center">
                                        <a th:href="${advertisement.link}" th:data-download-src="${advertisement.link}" data-fancybox="advertisements" th:data-caption="${'<b>Publicité ' + advertisement.id + '<b> : <i>' + advertisement.title + '</i>'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}">Voir</a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(game?.advertisements)}" class="odd">
                                    <td valign="top" colspan="2" class="dataTables_empty">Aucune publicité</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Liste des groupes</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped table-bordered border-none table-hover text-center vertical-align-middle dataTable">
                            <thead>
                                <tr>
                                    <th>Leader</th>
                                    <th>Membres</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="team,iter: ${teams}">
                                    <td th:text="${team.leader?.firstName + ' ' + team.leader?.lastName}"></td>
                                    <td>
                                        <ul>
                                            <li th:each="member : ${team.members}" th:text="${member.firstName + ' ' + member?.lastName}"></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
