<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head('Liste des questions')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li>Liste des questions</li>
                <li><a onclick="downloadTemplate('question.xlsx')" href="#">Template.xlsx</a></li>
            </ol>
        </div>
        <div class="row">
            <h4>Liste des questions</h4>
            <hr>
        </div>
        <div class="row">
            <div class="col mb-6">
                <button id="add-item" role="link" class="lazy-link d-none" th:href="@{/question/save}"></button>
                <button id="import-items" role="link" class="lazy-link d-none" th:href="@{/question/import}"></button>
                <button id="import-series" role="link" class="lazy-link d-none" th:href="@{/question/series}"></button>
                <button id="delete-items" role="link" class="d-none" onclick="invokeActionOnItems('question/delete', 'supprimer')"></button>
                <!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
                <div th:replace="base.html :: alert(${notification})"></div>
                <table id="data-list" data-pdf-title="LISTE DES QUESTIONS" data-pdf-name="Liste des questions" class="table table-striped table-bordered table-hover dataTable searching paging can-add can-delete can-import can-import-series exclude-first-sort multiple-selection">
                    <thead>
                        <tr>
                            <th class="action fit-cell-content">
                                <input type="checkbox">
                            </th>
                            <th>ID</th>
                            <th>Formulation</th>
                            <th>Réponse</th>
                            <th>Justification</th>
                            <th>Durée (en secondes)</th>
                            <th>Transféré</th>
                            <th class="action fit-cell-content">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="questions" type="java.util.List<com.estate.domain.entity.Question>"*/-->
                        <tr th:each="question,iter: ${questions}" th:data-id="${question.id}">
                            <td>
                                <input th:data-index="${iter.count}" type="checkbox">
                            </td>
                            <td th:text="${question.id}"></td>
                            <td>
                                <a th:href="${question.formulationLink}" th:data-download-src="${question.formulationLink}" th:data-fancybox="${'questions-group-' + (iter.index / 50)}" th:data-caption="${'<b>Question ' + question.id + '</b> | <b>Durée</b> : ' + question.duration + ' secondes'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}" th:text="${'Question-' + question.id + ' (' + question.size + ')'}"></a>
                            </td>
                            <td th:text="${question.answer}"></td>
                            <td>
                                <a th:href="${question.justificationLink}" th:data-download-src="${question.justificationLink}" th:data-fancybox="${'answers-group-' + (iter.index / 50)}" th:data-caption="${'<b>Question ' + question.id + '</b> | Réponse : <b>' + question.answer + '</b>'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}" th:text="${'Justification-' + question.id + ' (' + question.answerSize + ')'}"></a>
                            </td>
                            <td th:text="${question.duration}"></td>
                            <td th:text="${question.uploaded ? 'Oui' : 'Non'}"></td>
                            <td class="text-center fit-cell-content">
                                <a class="dropdown-toggle" tabindex="0" data-toggle="popover" data-placement="auto" data-trigger="focus" th:data-target="${'popover-content-' + question.id}" href="#">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div th:id="${'popover-content-' + question.id}" class="list-group" style="display: none">
                                    <a class="list-group-item lazy-link text-decoration-none text-left" th:href="@{'/question/save?id=' + ${question.id}}">
                                        <i class="fa fa-pencil-square-o fa-fw"></i> Modifier
                                    </a>
                                    <a class="list-group-item text-decoration-none text-danger text-left" th:data-question-id="${question.id}" onclick="deleteItem(this.getAttribute('data-question-id'), 'question/delete')" href="#">
                                        <i class="fa fa-trash-o fa-fw"></i> Supprimer
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
                <div th:if="${totalPages > 1}" class="mt-6" id="pagination" th:title="${totalPages}" th:aria-placeholder="${currentPage}" aria-label="question/list"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
