<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="creation" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
<head th:insert="base.html :: head(${creation ? 'Nouvelle question' : 'Modification de la question'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/question/list}">Liste des questions</a></li>
                <li th:text="${creation ? 'Nouvelle question' : 'Modification de la question'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div th:replace="base.html :: alert(${notification})"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Formulaire</b>
                    </div>
                    <form onsubmit="submitMultipartForm(event)" th:action="@{/question/save}" enctype="multipart/form-data" method="post" autocomplete="off">
                        <div class="panel-body">
                            <div class="row">
                                <input name="id" th:value="${question?.id}" type="hidden">
                                <div th:if="${creation}" class="form-group col-lg-6">
                                    <label for="formulation">Question <span class="required-field">*</span></label>
                                    <input id="formulation" name="formulation" type="file" class="form-control" accept="video/mp4" required>
                                </div>
                                <div th:if="${creation}" class="form-group col-lg-6">
                                    <label for="justification">Justification <span class="required-field">*</span></label>
                                    <input id="justification" name="justification" type="file" class="form-control" accept="video/mp4" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="answer">Réponse <span class="required-field">*</span></label>
                                    <input id="answer" name="answer" th:value="${question?.answer}" class="form-control" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="duration">Durée (en secondes) <span class="required-field">*</span></label>
                                    <input id="duration" name="duration" type="number" step="1" min="60" th:value="${question?.duration}" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary save-multiple">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer et ajouter une autre
                            </button>
                            <button type="submit" class="btn btn-success mx-2">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer
                            </button>
                            <button type="reset" class="btn btn-default">
                                <i class="fa fa-refresh"></i>
                                &nbsp; Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
