<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head('Liste des joueurs')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li>Liste des joueurs</li>
            </ol>
        </div>
        <div class="row">
            <h4>Liste des joueurs</h4>
            <hr>
        </div>
        <div class="row">
            <div class="col mb-6">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapseBox" class="collapsed btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    &nbsp; Rechercher
                                </button>
                            </h4>
                        </div>
                        <div id="collapseBox" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form onsubmit="submitForm(event)" th:action="@{/player/search}" autocomplete="off" method="post">
                                    <input name="page" type="hidden" id="current-page" th:value="${currentPage}">
                                    <div class="row">
                                        <div class="form-group col-lg-4">
                                            <label for="firstName">Nom</label>
                                            <input id="firstName" name="firstName" th:value="${firstName}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="lastName">Prénom</label>
                                            <input id="lastName" name="lastName" th:value="${lastName}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="pseudo">Pseudo</label>
                                            <input id="pseudo" name="pseudo" th:value="${pseudo}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="birthYear">Année de naissance</label>
                                            <input id="birthYear" name="birthYear" type="number" min="1900" th:value="${birthYear}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="email">Adresse e-mail</label>
                                            <input id="email" name="email" th:value="${email}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="phoneNumber">Téléphone</label>
                                            <input id="phoneNumber" name="phoneNumber" th:value="${phoneNumber}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="provinceId">Province</label>
                                            <select id="provinceId" name="provinceId" class="form-control searchable-select-box" data-next=".city">
                                                <option value="-1" th:selected="${provinceId == -1}">Toutes les provinces ...</option>
                                                <option th:each="p: ${provinces}" th:value="${p.id}" th:data-id="${p.id}" data-option="-1" th:text="${p.name}" th:selected="${provinceId == p.id}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="cityId">Ville</label>
                                            <select id="cityId" name="cityId" class="form-control searchable-select-box city">
                                                <option value="-1" th:selected="${cityId == -1}">Toutes les villes ...</option>
                                                <option th:each="c: ${cities}" th:value="${c.id}" th:data-id="${c.id}" th:data-option="${c.province?.id}" th:text="${c.name}" th:selected="${cityId == c.id}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="sex">Sexe</label>
                                            <select id="sex" name="sex" class="form-control">
                                                <option value=" " th:selected="${sex == null}">Tous les sexes ...</option>
                                                <option value="M" th:selected="${#strings.equals(sex, 'M')}">Masculin</option>
                                                <option value="F" th:selected="${#strings.equals(sex, 'F')}">Féminin</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <label for="status">Statut</label>
                                            <select id="status" name="status" class="form-control">
                                                <option value="-1" th:selected="${status == -1}">Tous les status ...</option>
                                                <option value="1" th:selected="${status == 1}">ACTIF</option>
                                                <option value="0" th:selected="${status == 0}">DÉSACTIVÉ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" id="search-button-id" class="btn btn-success mr-2">
                                        <i class="fa fa-search"></i>
                                        &nbsp; Lancer la recherche
                                    </button>
                                    <button th:href="@{/player/list}" role="link" class="lazy-link btn btn-default">
                                        <i class="fa fa-refresh"></i>
                                        &nbsp; Réinitialiser
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <b><u>NB:</u></b> &nbsp; Utilisez des critères précis lorsque c'est possible. <a class="lazy-link" th:href="@{/player/statistic}">Voir les statistiques</a>
                        </div>
                    </div>
                </div>
                <button id="delete-items" role="link" class="d-none" onclick="invokeActionOnItems('player/delete', 'supprimer')"></button>
                <!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
                <div th:replace="base.html :: alert(${notification})"></div>
                <table id="data-list" data-pdf-title="LISTE DES JOUEURS" data-pdf-name="Liste des joueurs" data-columns-left="2" data-columns-right="3" class="table table-striped table-bordered table-hover dataTable paging searching can-delete exclude-first-sort multiple-selection fixed-columns">
                    <thead>
                        <tr>
                            <th class="action fit-cell-content">
                                <input type="checkbox">
                            </th>
                            <th>ID</th>
                            <th>Pseudo</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th type="Année de naissance">Année</th>
                            <th>Sexe</th>
                            <th>Adresse e-mail</th>
                            <th>Téléphone</th>
                            <th>Province</th>
                            <th>Ville</th>
                            <th>Solde</th>
                            <th class="action fit-cell-content">Statut</th>
                            <th class="action fit-cell-content">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="players" type="java.util.List<com.estate.domain.entity.Student>"*/-->
                        <tr th:each="player,iter: ${players}" th:data-id="${player.id}">
                            <td>
                                <input th:data-index="${iter.count}" type="checkbox">
                            </td>
                            <td th:text="${player.id}"></td>
                            <td>
                                <a class="lazy-link" th:href="@{/player/view/{id}(id=${player.id})}" th:text="${player.pseudo}"></a>
                            </td>
                            <td th:text="${player.firstName}"></td>
                            <td th:text="${player.lastName}"></td>
                            <td th:text="${player.birthYear}"></td>
                            <td th:text="${player.sex}"></td>
                            <td th:text="${player.email}"></td>
                            <td th:text="${player.phoneNumber}"></td>
                            <td th:text="${player.city?.province?.name}"></td>
                            <td th:text="${player.city?.name}"></td>
                            <td th:text="${player.balance}"></td>
                            <td th:text="${player.enabled ? 'ACTIF' : 'DÉSACTIVÉ'}"></td>
                            <td class="fit-cell-content text-center">
                                <a class="dropdown-toggle" tabindex="0" data-toggle="popover" data-placement="auto" data-trigger="focus" th:data-target="${'popover-content-' + player.id}" href="#">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div th:id="${'popover-content-' + player.id}" class="list-group" style="display: none">
                                    <a class="list-group-item lazy-link text-decoration-none text-left" th:data-player-id="${player.id}" onclick="toggleItem(this.getAttribute('data-player-id'), 'player/rename')" href="#">
                                        <i class="fa fa-fw fa-pencil"></i> Renommer
                                    </a>
                                    <a class="list-group-item lazy-link text-decoration-none text-left" th:data-player-id="${player.id}" onclick="toggleItem(this.getAttribute('data-player-id'), 'player/toggle')" href="#">
                                        <i class="fa fa-fw" th:classappend="${player.enabled ? 'fa-toggle-off' : 'fa-toggle-on'}"></i> <span th:text="${player.enabled ? 'Désactiver' : 'Activer'}"></span>
                                    </a>
                                    <a class="list-group-item text-decoration-none text-danger text-left" th:data-player-id="${player.id}" onclick="deleteItem(this.getAttribute('data-player-id'), 'player/delete')" href="#">
                                        <i class="fa fa-fw fa-trash-o"></i> Supprimer
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="search" type="java.lang.Boolean"*/-->
                <div th:if="${totalPages > 1}" class="mt-6" th:classappend="${search ? 'data-search' : ''}" id="pagination" th:title="${totalPages}" th:aria-placeholder="${currentPage}" aria-label="player/list"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
