<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head('Détails sur le joueur')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <!--/*@thymesVar id="player" type="com.estate.domain.entity.Student"*/-->
    <div id="page-wrapper" th:object="${player}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/player/list}">Liste des joueurs</a></li>
                <li th:utext="*{'Détails du joueur <b>[ ' + name + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur le joueur</b>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <b>Nom</b>
                            <span class="pull-right"><em th:text="*{firstName}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Prénom</b>
                            <span class="pull-right"><em th:text="*{lastName}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Pseudo</b>
                            <span class="pull-right"><em th:text="*{pseudo}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Année de naissance</b>
                            <span class="pull-right"><em th:text="*{birthYear}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Sexe</b>
                            <span class="pull-right"><em th:text="${#strings.equals(player?.sex, 'M') ? 'Masculin' : 'Féminin'}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Province</b>
                            <span class="pull-right"><em th:text="*{city?.province?.name}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Ville</b>
                            <span class="pull-right"><em th:text="*{city?.name}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Langue</b>
                            <span class="pull-right"><em th:text="*{language?.language}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Téléphone</b>
                            <span class="pull-right"><em th:text="*{phoneNumber}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Adresse e-mail</b>
                            <span class="pull-right"><em th:text="*{email}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Date d'inscription</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy  HH:mm')}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Photo</b>
                            <span class="pull-right"><a th:href="*{picture}" th:data-download-src="*{picture}" data-fancybox th:data-caption="*{name}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}">Aperçu</a></span>
                        </div>
                        <div class="list-group-item">
                            <b>Solde</b>
                            <span class="pull-right"><em th:text="*{balance}"></em></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
