<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head(${'Détails de l''étudiant'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <!--/*@thymesVar id="student" type="com.estate.domain.entity.Student"*/-->
    <div id="page-wrapper" th:object="${student}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/student/list}">Liste des étudiants</a></li>
                <li th:utext="*{'Détails de l''étudiant <b>[ ' + id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur l'étudiant</b>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <b>Nom</b>
                            <span class="pull-right"><em th:text="*{firstName}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Prénom</b>
                            <span class="pull-right"><em th:text="*{lastName}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Date de naissance</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(dateOfBirth, 'dd-MM-yyyy')}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Lieu de naissance</b>
                            <span class="pull-right"><em th:text="*{placeOfBirth}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Sexe</b>
                            <span class="pull-right"><em th:text="*{gender.name}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Nom de l'établissement fréquenté</b>
                            <span class="pull-right"><em th:text="*{school}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Téléphone(s)</b>
                            <span class="pull-right"><em th:text="*{phone}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Adresse e-mail</b>
                            <span class="pull-right"><em th:text="*{email}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Date d'inscription</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(creationDate, 'dd-MM-yyyy  HH:mm')}"></em></span>
                        </div>
                        <div class="list-group-item">
                            <b>Date de modification</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(lastModifiedDate, 'dd-MM-yyyy  HH:mm')}"></em></span>
                        </div>
                        <!--
                        <div class="list-group-item">
                            <b>Photo</b>
                            <span class="pull-right"><a th:href="*{picture}" th:data-download-src="*{picture}" data-fancybox th:data-caption="*{name}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}">Aperçu</a></span>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Contacts</th>
                    <th th:text="*{firstParentRelation.name}"></th>
                    <th th:text="*{secondParentRelation.name}"></th>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td th:text="*{firstParentName}"></td>
                    <td th:text="*{secondParentName}"></td>
                </tr>
                <tr>
                    <th>Lieu de résidence</th>
                    <td th:text="*{firstParentAddress}"></td>
                    <td th:text="*{secondParentAddress}"></td>
                </tr>
                <tr>
                    <th>Téléphone(s)</th>
                    <td th:text="*{firstParentPhone}"></td>
                    <td th:text="*{secondParentPhone}"></td>
                </tr>
                <tr>
                    <th>Adresse e-mail</th>
                    <td th:text="*{firstParentEmail}"></td>
                    <td th:text="*{secondParentEmail}"></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Documents</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Pièce d'identité (Recto)</td>
                    <td><a target="_blank" href="">Voir</a></td>
                </tr>
                <tr>
                    <td>Pièce d'identité (Verso)</td>
                    <td><a target="_blank" href="">Voir</a></td>
                </tr>
                <tr>
                    <td>Acte de naissance</td>
                    <td><a target="_blank" href="">Voir</a></td>
                </tr>
                <tr>
                    <td>Carte d'étudiant</td>
                    <td><a target="_blank" href="">Voir</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
