<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head('Paiements')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li>Paiements</li>
            </ol>
        </div>
        <div class="row">
            <h4>Liste des paiements</h4>
            <hr>
        </div>
        <div class="row">
            <div class="col mb-6">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapseBox" class="collapsed btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    &nbsp; Rechercher
                                </button>
                            </h4>
                        </div>
                        <div id="collapseBox" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form onsubmit="submitForm(event)" th:action="@{/payment/search}" autocomplete="off" method="post">
                                    <input name="page" type="hidden" id="current-page" th:value="${currentPage}">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="name">Nom du client</label>
                                                <input id="name" name="name" th:value="${name}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="phone">Numéro</label>
                                                <input id="phone" name="phone" th:value="${phone}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="operator">Modes de paiement</label>
                                                <select id="operator" name="operator" class="form-control">
                                                    <option value="">Tous les modes...</option>
                                                    <option th:each="mode: ${T(com.estate.domain.enumaration.Mode).values()}" th:value="${mode}" th:text="${mode.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="status">Statut</label>
                                                <select id="status" name="status" class="form-control">
                                                    <option value="">Tous les statuts...</option>
                                                    <option th:each="status: ${T(com.estate.domain.enumaration.Status).values()}" th:value="${status}" th:text="${status.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="start">A partir du</label>
                                                <input id="start" name="start" th:value="${#calendars.format(start, 'yyyy-MM-dd')}" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="end">Jusqu'au</label>
                                                <input id="end" name="end" th:value="${#calendars.format(end, 'yyyy-MM-dd')}" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success mr-2">
                                        <i class="fa fa-search"></i>
                                        &nbsp; Lancer la recherche
                                    </button>
                                    <button th:href="@{/payment/list}" role="link" class="lazy-link btn btn-default">
                                        <i class="fa fa-refresh"></i>
                                        &nbsp; Réinitialiser
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <b><u>NB:</u></b> &nbsp; Utilisez des critères précis lorsque c'est possible.
                        </div>
                    </div>
                </div>
                <button id="delete-items" role="link" class="d-none" onclick="invokeActionOnItems('payment/delete', 'supprimer')"></button>
                <!--/*@thymesVar id="notification" type="com.estate.domain.entity.Notification"*/-->
                <div th:replace="base.html :: alert(${notification})"></div>
                <table id="data-list" data-pdf-title="HISTORIQUE DES PAIEMENTS" data-pdf-name="Historique des paiements" data-columns-left="2" data-columns-right="2" class="table table-striped table-bordered table-hover paging searching landscape dataTable can-delete multiple-selection">
                    <thead>
                        <tr>
                            <th class="action fit-cell-content">
                                <input type="checkbox">
                            </th>
                            <th>ID</th>
                            <th>Etudiant</th>
                            <th>Montant</th>
                            <th>Date et heure (GMT)</th>
                            <th>Mode</th>
                            <th>Statut</th>
                            <th class="action fit-cell-content">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="payments" type="java.util.List<com.estate.domain.entity.Payment>"*/-->
                        <tr th:each="payement,iter: ${payments}" th:data-id="${payement.id}">
                            <td>
                                <input th:data-index="${iter.count}" type="checkbox">
                            </td>
                            <td th:text="${payement.id}"></td>
                            <td th:text="${payement.student?.name}"></td>
                            <td th:text="${payement.rent}"></td>
                            <td th:text="${#temporals.format(payement.creationDate, 'dd-MM-yyyy  HH:mm')}"></td>
                            <td th:text="${payement.mode?.name}"></td>
                            <td th:text="${payement.status?.name}"></td>
                            <td class="text-center fit-cell-content">
                                <a class="dropdown-toggle" tabindex="0" data-toggle="popover" data-placement="auto" data-trigger="focus" th:data-target="${'popover-content-' + recharge.id}" href="#">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                                <div th:id="${'popover-content-' + recharge.id}" class="list-group" style="display: none">
                                    <a class="list-group-item lazy-link text-decoration-none text-left" th:href="@{'/payment/status/' + ${payement.id}}">
                                        <i class="fa fa-refresh fa-fw"></i> Valider
                                    </a>
                                    <a class="list-group-item lazy-link text-decoration-none text-left" th:href="@{'/payment/view/' + ${payement.id}}">
                                        <i class="fa fa-eye fa-fw"></i> Details
                                    </a>
                                    <a class="list-group-item text-decoration-none text-danger text-left" th:data-recharge-id="${recharge.id}" onclick="deleteItem(this.getAttribute('data-recharge-id'), 'recharge/delete')" href="#">
                                        <i class="fa fa-trash-o fa-fw"></i> Supprimer
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="search" type="java.lang.Boolean"*/-->
                <div th:if="${totalPages > 1}" class="mt-6" id="pagination" th:title="${totalPages}" th:classappend="${search ? 'data-search' : ''}" th:aria-placeholder="${currentPage}" aria-label="payment/list"></div>
            </div>
        </div>
    </div>
</div>
<<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
