<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="base.html :: head(${'Détails de le paiement'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper" th:object="${payment}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/payment/list}">Paiements</a></li>
                <li th:utext="*{'Détails du paiement <b>[ ' + id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur le paiement</b>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <b>Étudiant</b>
                            <span class="pull-right"><em th:text="*{student?.name}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Mode de paiement</b>
                            <span class="pull-right"><em th:text="*{mode.name}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Montant</b>
                            <span class="pull-right"><em th:text="*{amount}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Statut</b>
                            <span class="pull-right"><em th:text="*{status?.name}"></em></span>
                        </a>
                        <div class="list-group-item">
                            <b>Preuve de paiement</b>
                            <span class="pull-right">
                                <em><a target="_blank" th:href="@{'/explorer/' + ${payment.proof}}">Voir</a></em>
                            </span>
                        </div>
                        <a href="#" class="list-group-item">
                            <b>Date de paiement</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(creationDate, 'dd-MM-yyyy  HH:mm')}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Date de modification</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(creationDate, 'dd-MM-yyyy  HH:mm')}"></em></span>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a role="button" th:href="@{'/payment/validate/' + ${payment.id}}" class="btn btn-success lazy-link mr-3">
                            <i class="fa fa-check"></i>
                            &nbsp; Valider
                        </a>
                        <a role="button" th:href="@{'/payment/cancel/' + ${payment.id}}" class="btn btn-primary lazy-link">
                            <i class="fa fa-close"></i>
                            &nbsp; Rejéter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
