<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="base.html :: head(${'Détails de le paiement'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <!--/*@thymesVar id="payment" type="com.estate.domain.entity.Payment"*/-->
    <div id="page-wrapper" th:object="${payment}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/payment/list}">Liste des paiements</a></li>
                <li th:utext="*{'Détails du paiement <b>[ ' + id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur le paiement</b>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <b>Etudiant</b>
                            <span class="pull-right"><em th:text="*{student?.name}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Mode de paiement</b>
                            <span class="pull-right"><em th:text="*{mode.name}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Montant</b>
                            <span class="pull-right"><em th:text="*{rent}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Date de paiement</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(creationDate, 'dd-MM-yyyy  HH:mm')}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Date de modification</b>
                            <span class="pull-right"><em th:text="*{#temporals.format(creationDate, 'dd-MM-yyyy  HH:mm')}"></em></span>
                        </a>
                        <a href="#" class="list-group-item">
                            <b>Statut</b>
                            <span class="pull-right"><em th:text="*{status?.name}"></em></span>
                        </a>
                    </div>
                </div>
                <div th:if="${!#strings.isEmpty(payment?.message)}" class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapseBox" class="collapsed btn btn-primary">
                                    <i class="fa fa-list"></i>
                                    &nbsp; Plus de détails
                                </button>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
