<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head('Contrat de location')"></head>

<body>
<div id="wrapper">
        <div th:replace="header.html"></div>
        <div id="page-wrapper">
            <div class="row mt-6">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/dashboard}">Accueil</a></li>
                    <li>Contrat</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col mb-6">
                                    UNIVERSITE DE YAOUNDE 1 <br>
                                    <i>THE UNIVERSITY OF YAOUNDE 1</i>
                                </div>
                                <div class="col mb-6">
                                    BP: <br>
                                    TEL:
                                </div>
                                <div class="col mb-6">
                                    ANTENNE LOCALE DE LA BRIGADE SPECIALE DES LOYERS DES LOGEMENTS D'ETUDIANTS DANS LES MINICITES DE L'UNIVERSITE DE YAOYNDE 1
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <p style="text-align: center">Logo</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="row" style="text-align: end">
                                <div class="col mb-6">
                                    REPUBLIC DU CAMEROUN <br>
                                    <i>REPUBLIC OF CAMEROUN</i>
                                </div>
                                <div class="col mb-6">
                                    PAIX-TRAVAIL-PATRIE <br>
                                    <i>PEACE-WORK-FATHERLAND</i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col mb-6">
                    <div class="row" style="text-align: center">
                        CONTRAT DE TRAVAIL
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row" style="text-align: center">
                        N°..................
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        Il est conclu entre <br>
                        M...............................................................................................................................CNI N°..........................................................................................................................................................
                        <br>
                        Domicilié(à) ...................................................................................................................................................................................................................................................................................
                        <br>
                        Adresse/Téléphone ..............................................................................................................................................................................................................................................................................
                        <br>
                        Propriétaire bailleur de la mini-cité denommée..................................................................................................................................................................................................................................................
                        <br>
                        Sise à..........................................................................................................................................................................................................................................................................................
                        <br>
                        Ci-dessus désigné(e) le propiétaire bailleur ou son representant d'une part
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        Et M..........................................................................................................................CNI N°............................................................................................................................................................
                        <br>
                        Etudiant(e) à l'université de Yaounde 1 <br>
                        Etablissement...........................................................................................................................Filière .................................................................................................................Niveau ........................
                        <br>
                        Matricule ...................................................................................................................Adresse ..........................................................................................................................................................
                        <br>
                        Ci-dessus dénommé(e) l'étudiant d'une part <br>
                        Un contrat de location d'une chambre dans les conditions fixées par les dispositions suivantes:
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        <u><b>Article 1 : L'objet du contrat </b></u> <br>
                        Le présent contrat porte sur la location d'un logement d'étudiant à la mini-cité dénommée .................................................................... clasée à la catégorie............................................ par l'antenne localede la brigate spéciale des loyers des logements
                        d'étudiants des Universités d'Etat du Cameroun
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        <u><b>Article 2: Les caractéristiques de la chambre </b></u> <br>
                        Les caractéristiques de la chambre sont celles qui ont déterminé le classement de la chambre dans la catégorie
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        <u><b>Article 3:</b></u> <br>
                        Après consultation du document classant cette mini cité par les deux parties, un constat de l'état des lieux de ladite chambre sera jointe au contrat.
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        <u><b>Article 4: La durée du contrat</b></u> <br>
                        Le présent contrat est établi pour une durée de 12 mois. allant du ........................................ au ....................................... nLa location sera renouvelable par tacite reconduction, sauf en cas de dénonciation par l'une ou l'autre partie notifiée à l'interessé deux mois
                        au moins avant la fin de l'année académique, avec copie de l'antenne locale.
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        <u><b>Article 11: Les litiges</b></u> <br>
                        Les parties du présent contrat s'engagent à privilegier le dialogue dans la résolution de tout conflit qui naitra à l'occasion de son exécution. En cas de divergance persistante, elles s'engagent à soumettre les conflits à l'arbitrage de l'Antenne locale de la brigade spéciale des loyersdes logements
                        d'étudiantsde l'Université de Yaoundé 1.
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        <u><b>Article 12: Les résolutions</b></u> <br>
                        Les deux parties d'engagent à respecter les clauses du présent contrat qui reprend les dispositions des textes en vigeur régissant les loyers des logements d'étudiants des Universités d'Etat
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        Fait en 3 examplaires <br>
                        A Yaounde le ...................................................
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row" style="text-align: center">
                        Lu et approuvé
                    </div>
                </div>
                <div class="col mb-6">
                    <div class="row">
                        <div class="col-lg-4">
                            Le proprietaire bailleur
                        </div>
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4" style="text-align: end">
                            L'étudiant locataire
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
