<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>BHouse - Real Estate HTML5 Template</title>
</head>
<body>
	<!-- Start Breadcrumb Area -->
	<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-content">
						<h2>Blog Left Sidebar</h2>
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li><i class="fas fa-angle-double-right"></i></li>
							<li>Blog Left Sidebar</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumb Area -->
	
	<!-- Start Blog Area -->
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<!-- Sidebar -->
				<div class="col-lg-4  order-lg-first order-last">
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Search</h2>
						<div class="wi_search_form">
							<form action="#">
								<input type="text" name="search" placeholder="Search Here..">
								<button type="submit"><i class="bi bi-search"></i></button>
							</form>
						</div>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Categories</h2>
						<ul>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Apartments </a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Picture Stodio </a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Office </a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Property Management</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Interior Design</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Build Wardrobes</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Floor Coverings</a></li>
						</ul>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Recent Posts</h2>
						<div class="side-widgets-l-blog">
							<div class="item mb-20">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/1.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
							<div class="item mb-20">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/2.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
							<div class="item mb-20">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/3.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
							<div class="item">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/1.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Tags</h2>
						<div class="tagcloud">
							<a href="#">Popular</a>
							<a href="#">Design</a>
							<a href="#">Service</a>
							<a href="#">Interior</a>
							<a href="#">Apartments</a>
							<a href="#">Oil Change</a>
							<a href="#">Flor</a>
							<a href="#">Home Selling</a>
							<a href="#">Property</a>
							<a href="#">Management</a>
						</div>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Archives</h2>
						<ul>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> September 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> October 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> August 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> July 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> June 2021</a></li>
						</ul>
					</div>
				</div>
				<!-- Blog -->
				<div class="col-lg-8">
					<!-- Single -->
					<div class="row mb-30">
						<div class="col-lg-12">
							<div class="blog-item">
								<div class="thumnail">
									<a href="single.html">
										<img src="assets/img/blog/1.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<div class="post-date">
		                                <span>31</span>
		                                Oct
		                            </div>
		                            <div class="blog-meta">
		                            	<a href="#"><i class="fas fa-user"></i> Admin</a>
		                            	<a href="#"><i class="fas fa-tags"></i> Technology</a>
		                            </div>
		                            <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
		                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
		                            <a href="single.html" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="row mb-30">
						<div class="col-lg-12">
							<div class="blog-item">
								<div class="thumnail">
									<a href="single.html">
										<img src="assets/img/blog/2.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<div class="post-date">
		                                <span>31</span>
		                                Oct
		                            </div>
		                            <div class="blog-meta">
		                            	<a href="#"><i class="fas fa-user"></i> Admin</a>
		                            	<a href="#"><i class="fas fa-tags"></i> Technology</a>
		                            </div>
		                            <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
		                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
		                            <a href="single.html" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="row mb-30">
						<div class="col-lg-12">
							<div class="blog-item">
								<div class="thumnail">
									<a href="single.html">
										<img src="assets/img/blog/3.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<div class="post-date">
		                                <span>31</span>
		                                Oct
		                            </div>
		                            <div class="blog-meta">
		                            	<a href="#"><i class="fas fa-user"></i> Admin</a>
		                            	<a href="#"><i class="fas fa-tags"></i> Technology</a>
		                            </div>
		                            <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
		                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
		                            <a href="single.html" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="row mb-30">
						<div class="col-lg-12">
							<div class="blog-item">
								<div class="thumnail">
									<a href="single.html">
										<img src="assets/img/blog/4.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<div class="post-date">
		                                <span>31</span>
		                                Oct
		                            </div>
		                            <div class="blog-meta">
		                            	<a href="#"><i class="fas fa-user"></i> Admin</a>
		                            	<a href="#"><i class="fas fa-tags"></i> Technology</a>
		                            </div>
		                            <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
		                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
		                            <a href="single.html" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="row mb-30">
						<div class="col-lg-12">
							<div class="blog-item">
								<div class="thumnail">
									<a href="single.html">
										<img src="assets/img/blog/5.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<div class="post-date">
		                                <span>31</span>
		                                Oct
		                            </div>
		                            <div class="blog-meta">
		                            	<a href="#"><i class="fas fa-user"></i> Admin</a>
		                            	<a href="#"><i class="fas fa-tags"></i> Technology</a>
		                            </div>
		                            <h3><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h3>
		                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
		                            <a href="single.html" class="read-more">Read More <i class="bi bi-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Blog Pagination -->
					<div class="row mt-10 mb-30 text-center">
						<div class="col-lg-12">
							<div class="bhouse_pagination">
								<ul>
									<li><a href="#"><i class="fas fa-angle-left"></i></a></li>
									<li><a href="#">1</a></li>
									<li><span>2</span></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#"><i class="fas fa-angle-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Blog Area -->
</body>
</html>