<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>BHouse - Real Estate HTML5 Template</title>
</head>
<body>
	<!-- Start Breadcrumb Area -->
	<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-content">
						<h2>Frequently asked questions</h2>
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li><i class="fas fa-angle-double-right"></i></li>
							<li>Faq</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumb Area -->
	
	<!-- Start Faq Area -->
	<section class="section-padding">
		<div class="container">
			<!-- Headding -->
			<div class="row">
				<div class="col-lg-12 mb-50 text-center">
					<div class="section-headding">
						<h4 class="sc_subtitle"><span>Faq</span></h4>
						<h2 class="sc_title">Frequently asked questions</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="accordion-area">
						<div class="accordion" id="accordionExample">
						  	<div class="accordion-item">
						    	<h2 class="accordion-header" id="headingOne">
						      		<a href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How to buy a product? </a>
						    	</h2>
						    	<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						      		<div class="accordion-body">
						        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nulla facilisis, gravida metus egestas, facilisis orci. Sed tincidunt pellentesque nisl, in vestibulum libero rhoncus nec. Integer at arcu eget massa sodales vehicula sed sit amet libero. Donec elementum eget libero a interdum.</p>
						      		</div>
						   		</div>
							</div>
						  	<div class="accordion-item">
						    	<h2 class="accordion-header" id="headingTwo">
						      		<a class="collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How can i make refund from your website? </a>
						    	</h2>
						    	<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						      		<div class="accordion-body">
						        		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nulla facilisis, gravida metus egestas, facilisis orci. Sed tincidunt pellentesque nisl, in vestibulum libero rhoncus nec. Integer at arcu eget massa sodales vehicula sed sit amet libero. Donec elementum eget libero a interdum.</p>
						      		</div>
						    	</div>
						  	</div>
						  	<div class="accordion-item">
						    	<h2 class="accordion-header" id="headingThree">
						      		<a class="collapsed" href="#"  data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">I am a new user. How should I start? </a>
						    	</h2>
						    	<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							      	<div class="accordion-body">
							      	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nulla facilisis, gravida metus egestas, facilisis orci. Sed tincidunt pellentesque nisl, in vestibulum libero rhoncus nec. Integer at arcu eget massa sodales vehicula sed sit amet libero. Donec elementum eget libero a interdum.</p>
							      	</div>
						    	</div>
						  	</div>
						  	<div class="accordion-item">
						    	<h2 class="accordion-header" id="headingFour">
						      		<a class="collapsed" href="#"  data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Returns and refunds  </a>
						    	</h2>
						    	<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
							      	<div class="accordion-body">
							      	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nulla facilisis, gravida metus egestas, facilisis orci. Sed tincidunt pellentesque nisl, in vestibulum libero rhoncus nec. Integer at arcu eget massa sodales vehicula sed sit amet libero. Donec elementum eget libero a interdum.</p>
							      	</div>
						    	</div>
						  	</div>
						  	<div class="accordion-item">
						    	<h2 class="accordion-header" id="headingFive">
						      		<a class="collapsed" href="#"  data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Are my details secured? </a>
						    	</h2>
						    	<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
							      	<div class="accordion-body">
							      	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nulla facilisis, gravida metus egestas, facilisis orci. Sed tincidunt pellentesque nisl, in vestibulum libero rhoncus nec. Integer at arcu eget massa sodales vehicula sed sit amet libero. Donec elementum eget libero a interdum.</p>
							      	</div>
						    	</div>
						  	</div>
						  	<div class="accordion-item">
						    	<h2 class="accordion-header" id="headingSix">
						      		<a class="collapsed" href="#"  data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">I am a new user. How should I start? </a>
						    	</h2>
						    	<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
							      	<div class="accordion-body">
							      	  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed nulla facilisis, gravida metus egestas, facilisis orci. Sed tincidunt pellentesque nisl, in vestibulum libero rhoncus nec. Integer at arcu eget massa sodales vehicula sed sit amet libero. Donec elementum eget libero a interdum.</p>
							      	</div>
						    	</div>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Faq Area -->
	<div class="vedio-popup-area" style="background-image:url('assets/img/vedio.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="vedio-popup-btn">
						<div class="video-btn">
							<a data-rel="lightcase" href="https://player.vimeo.com/video/553110309?h=dc4ee31dc4"><i class="fas fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="faq-content-t">
						<h2>Still need help? Reach out to support 24/7:</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis quisquam quam asperiores veritatis, earum quibusdam laudantium distinctio dolore placeat recusandae ratione maxime odit delectus nobis doloribus quia Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, illo blanditiis</p>
						<h3>Where are Your Office Located?</h3>
						<p> Fusce vehicula accumsan tortor, nec rutrum ipsum pretium id. Fusce mattis hendrerit lacus ac porta. Vivamus erat sem, dignissim nec congue et, tempor et odio. Aliquam tincidunt, urna vitae pellentesque dignissim, felis tortor malesuada nisl, sit amet eleifend quam lectus eu leo. Cras luctus, arcu at suscipit vulputate, magna urna feugiat nibh, aliquam pretium ex est a lectus. Sed pellentesque vulputate turpis, nec vestibulum arcu. Vestibulum neque diam, vestibulum interdum laoreet ac, dapibus eget enim. Phasellus tristique tortor nulla, at congue elit lacinia sed. </p>
						<ul>
							<li>What is the Cancelation Period?</li>
							<li>Where i Need to Invest in Market?</li>
							<li>What does Non-Exclusive Mean?</li>
						</ul>
						<p> Mauris condimentum felis sed hendrerit egestas. Praesent ac augue laoreet, ultrices tellus et, porta ante. Sed mi orci, luctus nec urna et, placerat vehicula tortor. Donec ut gravida dolor. Pellentesque et nulla vulputate, imperdiet leo quis, feugiat felis. Vivamus consequat, nisl a porta blandit, nisi nisi ornare dolor, ut volutpat velit felis vitae est. Praesent condimentum arcu id purus fringilla malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
						<h3>What is a Single Application?</h3>
						<ul>
							<li>What is the Cancelation Period?</li>
							<li>Where i Need to Invest in Market?</li>
							<li>What does Non-Exclusive Mean?</li>
						</ul>
						<p> Ut fringilla tortor vel magna mollis, ac malesuada nibh tristique. Donec eu porttitor velit, vitae porttitor quam. Curabitur molestie lobortis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque fringilla lorem non mi fermentum, a sagittis elit rhoncus. Donec in dui vel urna vehicula finibus. Phasellus in blandit purus. Aenean et lobortis mauris. Quisque vitae tincidunt risus. Donec quis sem nisi. Nulla facilisi. Praesent eget euismod leo. Quisque a diam et leo vulputate venenatis nec vitae nulla. Cras lobortis, lorem dapibus imperdiet viverra, lacus lacus dignissim quam, et euismod mi eros quis sem. Vivamus accumsan a nisi sit amet viverra. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>