<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>BHouse - Real Estate HTML5 Template</title>
</head>
<body>
	<!-- Start Login Regsiter Form -->
	<section class="pt-50 pb-50 section-bg-23">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="login-form-bhouse">
	        			<div class="login-register-form-head">
	        				<h2>Forget Password</h2>
	        			</div>
	        			<div class="login-register-form-middle">
	        				<form action="#">
	        					<div class="single-input">
	        						<label for="rusername">Mail or UserName</label>
	        						<input type="text" name="rusername" id="rusername">
	        					</div>
	        					<div class="single-input">
	        						<button type="submit" class="button-1">send</button>
	        					</div>
	        				</form>
	        			</div>
	        			<div class="login-register-from-btom text-center">
	        				<p class="text-dark mb-0"> Forget it, <a href="index-2.html" class="text-primary ml-1">send me back </a>  to the sign in. </p>
	        			</div>
	        		</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Login Regsiter Form -->
</body>
</html>