<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>Concorde - Connexion</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Start Login Regsiter Form -->
		<section class="pt-50 pb-50 section-bg-23">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="login-form-bhouse">
							<div class="login-register-form-head">
								<h2>CONNEXION</h2>
							</div>
							<div class="login-register-form-middle">
								<form th:action="@{/login}">
									<div class="single-input">
										<label for="email">Adresse e-mail</label>
										<input type="text" name="email" id="email">
									</div>
									<div class="single-input">
										<label for="password">Mot de passe</label>
										<input type="password" name="password" id="password">
									</div>
									<div class="single-input checkbox">
										<input type="checkbox" name="rememberme" id="rememberme">
										<label class="rememberme" for="rememberme">Remember me </label>
									</div>
									<div class="single-input">
										<button type="submit" class="button-1">Se connecter</button>
									</div>
								</form>
							</div>
							<div class="login-register-from-btom text-center">
								<p class="mb-2"><a href="forget-password.html">Mot de passe oublié ?</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Login Regsiter Form -->
	</div>
</body>
</html>