<!DOCTYPE html>
<html  class="no-js" lang="en">
<head>
	<title>BHouse - Real Estate HTML5 Template</title>
</head>
<body>
	<!-- Start Breadcrumb Area -->
	<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-content">
						<h2>Our Portfolio</h2>
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li><i class="fas fa-angle-double-right"></i></li>
							<li>Portfolio</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumb Area -->
	
	<!-- Start Portfolio Area -->
	<div class="section-padding">
		<div class="container">
			<div class="row">
				<!-- Category -->
				<div class="portfolio-category mb-40 text-center">
					<ul>
						<li data-filter="all">All</li>
						<li data-filter=".apartments">Apartments</li>
						<li data-filter=".design">Desing</li>
						<li data-filter=".interior">Interior</li>
					</ul>
				</div>
				<div class="row portfolio-full portF">
					<!-- Single --> 
					<div class="col-lg-4 col-md-6 mb-30 mix apartments interior">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/1.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/1.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix interior">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/2.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/2.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix apartments design">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/3.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/3.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix design interior">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/4.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/4.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix interior">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/5.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/5.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix design">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/6.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/6.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix apartments">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/7.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/7.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix apartments interior">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/8.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/8.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="col-lg-4 col-md-6 mb-30 mix design">
						<div class="portfolio-item">
							<div class="thumbnail">
								<img src="assets/img/portfolio/9.jpg" alt="Portfolio">
							</div>
							<div class="portfolio-overly">
								<div class="pv_full">
									<a data-rel="lightcase:myCollection:portfolio" href="assets/img/portfolio/9.jpg"><i class="fas fa-search"></i></a>
									<a href="porfolio-details.html"><i class="fas fa-eye"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 mb-20 text-center">
						<a class="button-3" href="#">Load More <i class="fas fa-spinner fa-spin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Portfolio Area -->
</body>
</html>