<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>Porfolio details</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Start Breadcrumb Area -->
		<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-content">
							<h2>Portfolio Details</h2>
							<ul>
								<li><a href="index-2.html">Home</a></li>
								<li><i class="fas fa-angle-double-right"></i></li>
								<li>Portfolio Details</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Breadcrumb Area -->
		<!-- Start Portfolio Area -->
		<section class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 mb-30">
						<div class="portfolio-details-info">
							<h2>Project info</h2>
							<ul class="details">
								<li><b>Customer Name:</b>  <span>Steven John</span></li>
								<li><b>Category:</b> <span><a href="#">Design</a></span></li>
								<li><b>Size:</b> <span>600 Sq Ft</span></li>
								<li><b>Rooms:</b> <span>7</span></li>
								<li><b>Baths:</b> <span>3</span></li>
								<li><b>Date:</b> <span>23 October 2021</span></li>
								<li><b>Status:</b>  <span>In Process</span></li>
								<li><b>Demo Link:</b> <span>https://www.example.com</span></li>
								<li><b>Tags:</b> <span><a href="#">tml,css,php</a></span></li>
							</ul>
							<ul class="share">
								<li><strong>Share:</strong></li>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-8 order-lg-first">
						<div class="portfolio-details-content">
							<div class="thumbnail mb-20">
								<img src="assets/img/pd.jpg" alt="img">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte ursint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte ursint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<div class="row">
								<div class="col-md-6 mb-20">
									<img src="assets/img/portfolio/1.jpg" alt="img">
								</div>
								<div class="col-md-6 mb-20">
									<img src="assets/img/portfolio/2.jpg" alt="img">
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte ursint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte ursint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte ursint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte ursint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio Area -->
	</div>
</body>
</html>