<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>Produits</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Start Breadcrumb Area -->
		<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-content">
							<h2>Shop Details</h2>
							<ul>
								<li><a href="index-2.html">Home</a></li>
								<li><i class="fas fa-angle-double-right"></i></li>
								<li>Shop Details</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Breadcrumb Area -->

		<!-- Poperty Details Thumbanil -->
		<div class="poperty_details_thumbnail pt-50">
			<div class="poperty_details_thumbnail_full owl-carousel">
				<!-- Single -->
				<div class="poerty_details_single_thumb">
					<a data-rel="lightcase:myCollection:det" href="assets/img/product/1.jpg">
						<img src="assets/img/product/1.jpg" alt="img">
					</a>
				</div>
				<!-- Single -->
				<div class="poerty_details_single_thumb">
					<a data-rel="lightcase:myCollection:det" href="assets/img/product/2.jpg">
						<img src="assets/img/product/2.jpg" alt="img">
					</a>
				</div>
				<!-- Single -->
				<div class="poerty_details_single_thumb">
					<a data-rel="lightcase:myCollection:det" href="assets/img/product/3.jpg">
						<img src="assets/img/product/3.jpg" alt="img">
					</a>
				</div>
				<!-- Single -->
				<div class="poerty_details_single_thumb">
					<a data-rel="lightcase:myCollection:det" href="assets/img/product/4.jpg">
						<img src="assets/img/product/4.jpg" alt="img">
					</a>
				</div>
			</div>
		</div>
		<!-- Poperty Details Thumbanil -->

		<!-- Start Shop Area -->
		<section class="pt-50 pb-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="poperty_details-full mb-20">
							<ul class="prs_lists">
								<li><span class="bed">3 Beds</span></li>
								<li><span class="bath">2 Bath</span></li>
								<li><span class="gar">1 Garage</span></li>
								<li><span class="sqft">800 sqft</span></li>
							</ul>
							<h2 class="title">5689 Resot Relly Market, Montreal Canada, HAQC445</h2>
							<div class="location"><i class="bi bi-geo-alt"></i>  778 Country St. Panama City, FL </div>
						</div>
						<div class="ppp_cont mb-20">
							<h4>About Property</h4>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing sed eiusm tempor incididunt labore dolore magna aliqua enim minim veniam quis nostrud exercitation laboris nisi ut aliquip ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur occaecat</p>
							<p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim est laborum. Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium totam rem aperiam.</p>
						</div>
						<div class="pp_details_advance_f mb-20">
							<h4>Advance Features</h4>
							<ul class="row p-0 m-0">
								<li class="col-lg-4 col-md-6"><i class="fa fa-bed"></i>4 Bedrooms</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-bath"></i>2 Bathrooms</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-expand-arrows-alt"></i>12400 sqft</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-house-damage"></i>1 Living Rooms</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-building"></i>Build 2007</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-utensils"></i>2 Kitchens </li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-car"></i>Car Parking</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-briefcase-medical"></i>Free Medical</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-fire"></i>Fireplace</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-layer-group"></i>Residential</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-tv"></i>TV Cable</li>
								<li class="col-lg-4 col-md-6"><i class="fa fa-spa"></i>Free Spa</li>
							</ul>
						</div>
						<div class="pp_ameneties_cont mb-20">
							<h4>Ameneties</h4>
							<ul>
								<li>Air Conditioning</li>
								<li>Swimming Pool</li>
								<li>Central Heating</li>
								<li>Laundry Room</li>
								<li>Gym</li>
								<li>Alarm</li>
								<li>Window Covering</li>
								<li>Internet</li>
								<li>Pets Allow</li>
								<li>Free WiFi</li>
								<li>Car Parking</li>
								<li>Spa & Massage</li>
							</ul>
						</div>
						<div class="pp_details_galler mb-20">
							<h4>Gallery</h4>
							<div class="row">
								<!-- Single -->
								<div class="col-lg-4 col-6 mb-10">
									<a data-rel="lightcase:myCollection:gallery" href="assets/img/product/1.jpg">
										<img src="assets/img/product/1.jpg" alt="product">
									</a>
								</div>
								<!-- Single -->
								<div class="col-lg-4 col-6 mb-10">
									<a data-rel="lightcase:myCollection:gallery" href="assets/img/product/2.jpg">
										<img src="assets/img/product/2.jpg" alt="product">
									</a>
								</div>
								<!-- Single -->
								<div class="col-lg-4 col-6 mb-10">
									<a data-rel="lightcase:myCollection:gallery" href="assets/img/product/3.jpg">
										<img src="assets/img/product/3.jpg" alt="product">
									</a>
								</div>
								<!-- Single -->
								<div class="col-lg-4 col-6 mb-10">
									<a data-rel="lightcase:myCollection:gallery" href="assets/img/product/4.jpg">
										<img src="assets/img/product/4.jpg" alt="product">
									</a>
								</div>
								<!-- Single -->
								<div class="col-lg-4 col-6 mb-10">
									<a data-rel="lightcase:myCollection:gallery" href="assets/img/product/5.jpg">
										<img src="assets/img/product/5.jpg" alt="product">
									</a>
								</div>
								<!-- Single -->
								<div class="col-lg-4 col-6 mb-10">
									<a data-rel="lightcase:myCollection:gallery" href="assets/img/product/6.jpg">
										<img src="assets/img/product/6.jpg" alt="product">
									</a>
								</div>
							</div>
						</div>
						<div class="pp_details_review_list mb-20">
							<h4>12 Reviews</h4>
							<!-- Item -->
							<div class="pp_reviewe_item">
								<div class="thumb">
									<img src="assets/img/tes1.jpg" alt="review">
								</div>
								<div class="cont">
									<h5>Adam Smit</h5>
									<div class="date">29, October 2021</div>
									<div class="ratting">
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
								</div>
							</div>
							<!-- Item -->
							<div class="pp_reviewe_item">
								<div class="thumb">
									<img src="assets/img/tes1.jpg" alt="review">
								</div>
								<div class="cont">
									<h5>Adam Smit</h5>
									<div class="date">29, October 2021</div>
									<div class="ratting">
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
										<span><i class="fas fa-star"></i></span>
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
								</div>
							</div>
						</div>
						<div class="pp_details_review_form mb-20">
							<h4>Write a Review</h4>
							<div class="review_ratting_star">
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
								<span><i class="fas fa-star"></i></span>
							</div>
							<form action="#">
								<textarea name="message" placeholder="Type your comments...."></textarea>
								<input type="text" name="name" placeholder="Name">
								<input type="email" name="email" placeholder="Email">
								<button type="submit" class="button-1">Submit</button>
							</form>
						</div>
					</div>
					<!-- Poperty Details Sidebar -->
					<div class="col-lg-4">
						<div class="cart_or_save_btn mb-20">
							<a class="save" href="#"><i class="bi bi-suit-heart"></i> Save</a>
							<a class="cart" href="#" title="Add to Cart"><i class="bi bi-cart3"></i> Add to Cart</a>
						</div>
						<div class="list_book_ab_auth">
							<div class="top">
								<div class="thumb">
									<img src="assets/img/tes1.jpg" alt="img">
								</div>
								<div class="content">
									<h4>Michael Bean</h4>
									<p class="location">
										<i class="bi bi-geo-alt"></i>  778 Country St. Panama City, FL
									</p>
									<a href="#"><i class="fas fa-phone-alt"></i> 030 3057 1965</a>
								</div>
							</div>
							<div class="btm">
								<h5>Send a Private Message</h5>
								<form action="#">
									<div class="single_field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name">
									</div>
									<div class="single_field">
										<label for="email">Eamil Name</label>
										<input type="email" name="email" id="email">
									</div>
									<div class="single_field">
										<label for="call">Phone No.</label>
										<input type="text" name="call" id="call">
									</div>
									<div class="single_field">
										<label for="ymessage">Description</label>
										<textarea name="ymessage" id="ymessage"></textarea>
									</div>
									<div class="single_field">
										<button type="submit" class="button-1">Send Message</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Area -->
	</div>
</body>
</html>