<!DOCTYPE html>
<html  class="no-js" lang="en">
<head>
	<title>BHouse - Real Estate HTML5 Template</title>
</head>
<body>
	<!-- Start Login Regsiter Form -->
	<section class="pt-50 pb-50 section-bg-23">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="login-form-bhouse">
	        			<div class="login-register-form-head">
	        				<h2>Register Account</h2>
	        				<ul>
	        					<li class="google"><a href="#"><i class="fab fa-google"></i> <span>Google</span></a></li>
	        					<li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	        					<li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
	        				</ul>
	        			</div>
	        			<div class="login-register-form-middle">
	        				<form action="#">
	        					<div class="single-input">
	        						<label for="name">Name</label>
	        						<input type="text" name="name" id="name">
	        					</div>
	        					<div class="single-input">
	        						<label for="rusername">Mail or UserName</label>
	        						<input type="text" name="rusername" id="rusername">
	        					</div>
	        					<div class="single-input">
	        						<label for="rpassword">Password</label>
	        						<input type="password" name="rpassword" id="rpassword">
	        					</div>
	        					<div class="single-input">
	        						<label for="confirmpassword">Confirm Password</label>
	        						<input type="password" name="confirmpassword" id="confirmpassword">
	        					</div>
	        					<div class="single-input">
	        						<button type="submit" class="button-1">Register</button>
	        					</div>
	        				</form>
	        			</div>
	        			<div class="login-register-from-btom text-center">
	        				<p class="text-dark mb-0">Already have an account?<a href="login.html" class="text-primary ml-1">Sign In</a></p>
	        			</div>
	        		</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Login Regsiter Form -->
</body>
</html>