<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>BHouse - Real Estate HTML5 Template</title>
</head>
<body>
	<!-- Start Breadcrumb Area -->
	<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-content">
						<h2>Our Services</h2>
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li><i class="fas fa-angle-double-right"></i></li>
							<li>Services</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumb Area -->
	
	<!-- Start Services Area -->
	<section class="section-padding-2 section-bg">
		<div class="container">
			<!-- Section Headding -->
			<div class="row">
				<div class="col-lg-12 mb-50 text-center">
					<div class="section-headding">
						<h4 class="sc_subtitle"><span>Our Services</span></h4>
						<h2 class="sc_title">Our Main Focus</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="info-box">
						<div class="icon">
							<img src="assets/img/1.png" alt="services">
						</div>
						<div class="content">
							<h2><a href="services-details.html">Property Management</a></h2>
							<p> Arose mr rapid in so vexed words. Gay welcome led add to lasting chiefly say to looking for better. </p>
							<a class="get_link" href="services-details.html">Get Now <i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="info-box">
						<div class="icon">
							<img src="assets/img/2.png" alt="services">
						</div>
						<div class="content">
							<h2><a href="services-details.html">Mortgage Service</a></h2>
							<p> Arose mr rapid in so vexed words. Gay welcome led add to lasting chiefly say to looking for better. </p>
							<a class="get_link" href="services-details.html">Get Now <i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="info-box">
						<div class="icon">
							<img src="assets/img/3.png" alt="services">
						</div>
						<div class="content">
							<h2><a href="services-details.html">Consulting Service</a></h2>
							<p> Arose mr rapid in so vexed words. Gay welcome led add to lasting chiefly say to looking for better. </p>
							<a class="get_link" href="services-details.html">Get Now <i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="info-box">
						<div class="icon">
							<img src="assets/img/3.png" alt="services">
						</div>
						<div class="content">
							<h2><a href="services-details.html">Home Buying</a></h2>
							<p> Arose mr rapid in so vexed words. Gay welcome led add to lasting chiefly say to looking for better. </p>
							<a class="get_link" href="services-details.html">Get Now <i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="info-box">
						<div class="icon">
							<img src="assets/img/3.png" alt="services">
						</div>
						<div class="content">
							<h2><a href="services-details.html">Home Selling</a></h2>
							<p> Arose mr rapid in so vexed words. Gay welcome led add to lasting chiefly say to looking for better. </p>
							<a class="get_link" href="services-details.html">Get Now <i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<!-- Single -->
				<div class="col-lg-4 col-md-6 mb-30">
					<div class="info-box">
						<div class="icon">
							<img src="assets/img/3.png" alt="services">
						</div>
						<div class="content">
							<h2><a href="services-details.html">Escrow Services</a></h2>
							<p> Arose mr rapid in so vexed words. Gay welcome led add to lasting chiefly say to looking for better. </p>
							<a class="get_link" href="services-details.html">Get Now <i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Area -->
</body>
</html>