<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>BHouse - Real Estate HTML5 Template</title>
</head>
<body>
	<!-- Start Breadcrumb Area -->
	<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-content">
						<h2>Shop</h2>
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li><i class="fas fa-angle-double-right"></i></li>
							<li>Shop</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumb Area -->
	
	<!-- Start Shop Area -->
	<section class="section-padding">
		<div class="container">
			<div class="row">
				<!-- Shop -->
				<div class="col-lg-8">
					<!-- Shop Top Bar -->
					<div class="row mb-30">
						<div class="col-lg-12">
							<div class="ltn__shop-options">
								<div class="list-single">
									<div class="showing-product-number text-left">
	                                    <span><strong>Search Reasults:</strong> Showing 1–12 of 18 results</span>
	                                </div>
								</div>
								<div class="list-single text-right">
									<div class="woo-product-shorting">
										<select name="sort">
											<option value="0">Default Sorting</option>
											<option value="1">Sort by popularity</option>
											<option value="2">Sort by new arrivals</option>
											<option value="3">Sort by price: low to high</option>
											<option value="4">Sort by price: high to low</option>
										</select>
	                                </div>
								</div>
							</div>
						</div>
					</div>
					<!-- Shop -->
					<div class="row">
						<!-- Single -->
						<div class="col-md-6 mb-30">
							<div class="product-item">
								<!-- Thumbnail -->
								<div class="thumbnail">
									<a href="product-details.html">
										<img src="assets/img/product/1.jpg" alt="img">
									</a>
									<div class="badge">
										<span>Featured</span>
									</div>
									<div class="product-overly">
										<ul>
											<li><a href="product-details.html" title="Views:2021"><i class="bi bi-eye"></i></a></li>
											<li><a href="#" title="Wishlist"><i class="bi bi-suit-heart"></i></a></li>
											<li><a href="#" title="Add to Cart"><i class="bi bi-cart3"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- Content -->
								<div class="content">
									<div class="user-thum">
										<img src="assets/img/user-1.png" alt="img">
									</div>
									<h2 class="title"><a href="product-details.html">Riqaza Apartment Montreal</a></h2>
									<p class="location">Resort Valley Ocs, USA</p>
									<div class="price">
										<span>$ 256,000 <small>/mo</small></span>
									</div>
								</div>
								<div class="property-lists">
									<ul>
										<li><i class="fas fa-bed"></i> <span>3 Beds</span></li>
										<li><i class="fas fa-bath"></i> <span>2 Baths</span></li>
										<li><i class="fas fa-vector-square"></i> <span>600 Sq Ft</span></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="col-md-6 mb-30">
							<div class="product-item">
								<!-- Thumbnail -->
								<div class="thumbnail">
									<a href="product-details.html">
										<img src="assets/img/product/2.jpg" alt="img">
									</a>
									<div class="product-overly">
										<ul>
											<li><a href="product-details.html" title="Views:2021"><i class="bi bi-eye"></i></a></li>
											<li><a href="#" title="Wishlist"><i class="bi bi-suit-heart"></i></a></li>
											<li><a href="#" title="Add to Cart"><i class="bi bi-cart3"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- Content -->
								<div class="content">
									<div class="user-thum">
										<img src="assets/img/user-1.png" alt="img">
									</div>
									<h2 class="title"><a href="product-details.html">Riqaza Apartment Montreal</a></h2>
									<p class="location">Resort Valley Ocs, USA</p>
									<div class="price">
										<span>$ 256,000 <small>/mo</small></span>
									</div>
								</div>
								<div class="property-lists">
									<ul>
										<li><i class="fas fa-bed"></i> <span>3 Beds</span></li>
										<li><i class="fas fa-bath"></i> <span>2 Baths</span></li>
										<li><i class="fas fa-vector-square"></i> <span>600 Sq Ft</span></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="col-md-6 mb-30">
							<div class="product-item">
								<!-- Thumbnail -->
								<div class="thumbnail">
									<a href="product-details.html">
										<img src="assets/img/product/3.jpg" alt="img">
									</a>
									<div class="badge">
										<span>Sale</span>
									</div>
									<div class="product-overly">
										<ul>
											<li><a href="product-details.html" title="Views:2021"><i class="bi bi-eye"></i></a></li>
											<li><a href="#" title="Wishlist"><i class="bi bi-suit-heart"></i></a></li>
											<li><a href="#" title="Add to Cart"><i class="bi bi-cart3"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- Content -->
								<div class="content">
									<div class="user-thum">
										<img src="assets/img/user-1.png" alt="img">
									</div>
									<h2 class="title"><a href="product-details.html">Riqaza Apartment Montreal</a></h2>
									<p class="location">Resort Valley Ocs, USA</p>
									<div class="price">
										<span>$ 256,000 <small>/mo</small></span>
									</div>
								</div>
								<div class="property-lists">
									<ul>
										<li><i class="fas fa-bed"></i> <span>3 Beds</span></li>
										<li><i class="fas fa-bath"></i> <span>2 Baths</span></li>
										<li><i class="fas fa-vector-square"></i> <span>600 Sq Ft</span></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="col-md-6 mb-30">
							<div class="product-item">
								<!-- Thumbnail -->
								<div class="thumbnail">
									<a href="product-details.html">
										<img src="assets/img/product/4.jpg" alt="img">
									</a>
									<div class="product-overly">
										<ul>
											<li><a href="product-details.html" title="Views:2021"><i class="bi bi-eye"></i></a></li>
											<li><a href="#" title="Wishlist"><i class="bi bi-suit-heart"></i></a></li>
											<li><a href="#" title="Add to Cart"><i class="bi bi-cart3"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- Content -->
								<div class="content">
									<div class="user-thum">
										<img src="assets/img/user-1.png" alt="img">
									</div>
									<h2 class="title"><a href="product-details.html">Riqaza Apartment Montreal</a></h2>
									<p class="location">Resort Valley Ocs, USA</p>
									<div class="price">
										<span>$ 256,000 <small>/mo</small></span>
									</div>
								</div>
								<div class="property-lists">
									<ul>
										<li><i class="fas fa-bed"></i> <span>3 Beds</span></li>
										<li><i class="fas fa-bath"></i> <span>2 Baths</span></li>
										<li><i class="fas fa-vector-square"></i> <span>600 Sq Ft</span></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="col-md-6 mb-30">
							<div class="product-item">
								<!-- Thumbnail -->
								<div class="thumbnail">
									<a href="product-details.html">
										<img src="assets/img/product/5.jpg" alt="img">
									</a>
									<div class="badge">
										<span>Featured</span>
									</div>
									<div class="product-overly">
										<ul>
											<li><a href="product-details.html" title="Views:2021"><i class="bi bi-eye"></i></a></li>
											<li><a href="#" title="Wishlist"><i class="bi bi-suit-heart"></i></a></li>
											<li><a href="#" title="Add to Cart"><i class="bi bi-cart3"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- Content -->
								<div class="content">
									<div class="user-thum">
										<img src="assets/img/user-1.png" alt="img">
									</div>
									<h2 class="title"><a href="product-details.html">Riqaza Apartment Montreal</a></h2>
									<p class="location">Resort Valley Ocs, USA</p>
									<div class="price">
										<span>$ 256,000 <small>/mo</small></span>
									</div>
								</div>
								<div class="property-lists">
									<ul>
										<li><i class="fas fa-bed"></i> <span>3 Beds</span></li>
										<li><i class="fas fa-bath"></i> <span>2 Baths</span></li>
										<li><i class="fas fa-vector-square"></i> <span>600 Sq Ft</span></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="col-md-6 mb-30">
							<div class="product-item">
								<!-- Thumbnail -->
								<div class="thumbnail">
									<a href="product-details.html">
										<img src="assets/img/product/6.jpg" alt="img">
									</a>
									<div class="product-overly">
										<ul>
											<li><a href="product-details.html" title="Views:2021"><i class="bi bi-eye"></i></a></li>
											<li><a href="#" title="Wishlist"><i class="bi bi-suit-heart"></i></a></li>
											<li><a href="#" title="Add to Cart"><i class="bi bi-cart3"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- Content -->
								<div class="content">
									<div class="user-thum">
										<img src="assets/img/user-1.png" alt="img">
									</div>
									<h2 class="title"><a href="product-details.html">Riqaza Apartment Montreal</a></h2>
									<p class="location">Resort Valley Ocs, USA</p>
									<div class="price">
										<span>$ 256,000 <small>/mo</small></span>
									</div>
								</div>
								<div class="property-lists">
									<ul>
										<li><i class="fas fa-bed"></i> <span>3 Beds</span></li>
										<li><i class="fas fa-bath"></i> <span>2 Baths</span></li>
										<li><i class="fas fa-vector-square"></i> <span>600 Sq Ft</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Pagination -->
					<div class="row mt-10 mb-30 text-center">
						<div class="col-lg-12">
							<div class="bhouse_pagination">
								<ul>
									<li><a href="#"><i class="fas fa-angle-left"></i></a></li>
									<li><a href="#">1</a></li>
									<li><span>2</span></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#"><i class="fas fa-angle-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Sidebar -->
				<div class="col-lg-4">
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Search</h2>
						<div class="wi_search_form">
							<form action="#">
								<input type="text" name="search" placeholder="Search Here..">
								<button type="submit"><i class="bi bi-search"></i></button>
							</form>
						</div>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Shop Categories</h2>
						<ul>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Apartments </a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Picture Stodio </a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Office </a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Property Management</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Interior Design</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Build Wardrobes</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> Floor Coverings</a></li>
						</ul>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Recent Posts</h2>
						<div class="side-widgets-l-blog">
							<div class="item mb-20">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/1.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
							<div class="item mb-20">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/2.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
							<div class="item mb-20">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/3.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
							<div class="item">
								<div class="thubnail">
									<a href="single.html">
										<img src="assets/img/blog/1.jpg" alt="blog">
									</a>
								</div>
								<div class="content">
									<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
									<span>18 September 2021</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Products Tags</h2>
						<div class="tagcloud">
							<a href="#">Popular</a>
							<a href="#">Design</a>
							<a href="#">Service</a>
							<a href="#">Interior</a>
							<a href="#">Apartments</a>
							<a href="#">Oil Change</a>
							<a href="#">Flor</a>
							<a href="#">Home Selling</a>
							<a href="#">Property</a>
							<a href="#">Management</a>
						</div>
					</div>
					<!-- Single -->
					<div class="sidebar-widgets">
						<h2>Archives</h2>
						<ul>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> September 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> October 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> August 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> July 2021</a></li>
							<li><a href="#"><i class="fas fa-angle-double-right"></i> June 2021</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Area -->
</body>
</html>