<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{public/base}" class="no-js" lang="en">
<head>
	<title>Single</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- Start Breadcrumb Area -->
		<section class="breadcrumb-area section-padding" style="background-image:url('assets/img/breadcrumb.jpg');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-content">
							<h2>Blog Details</h2>
							<ul>
								<li><a href="index-2.html">Home</a></li>
								<li><i class="fas fa-angle-double-right"></i></li>
								<li>Blog Details</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Breadcrumb Area -->

		<!-- Start Blog Area -->
		<section class="section-padding">
			<div class="container">
				<div class="row">
					<!-- Blog Details -->
					<div class="col-lg-8">
						<!-- Details Content -->
						<div class="blog-details mb-30">
							<div class="thumbnail">
								<img src="assets/img/blog/1.jpg" alt="img">
							</div>
							<div class="content">
								<div class="meta">
									<span><i class="far fa-calendar-alt"></i> 12 September 2021</span>
									<span><i class="fas fa-tags"></i> <a href="#">Technology</a></span>
								</div>
								<h2>What’s the Holding Back the It Solution Industry?</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.it to make a type specimen book. It has survived not only five centuries.</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
								<div class="row">
									<div class="col-lg-6 mb-30">
										<img src="assets/img/blog/2.jpg" alt="blog">
									</div>
									<div class="col-lg-6 mb-30">
										<img src="assets/img/blog/3.jpg" alt="blog">
									</div>
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
								<div class="row">
									<div class="col-lg-12 mb-30">
										<div class="tagcloud">
											<span><b>Tags: </b></span>
											<a href="#">Html5</a>
											<a href="#">it</a>
											<a href="#">technology</a>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="prject-share">
											<span><b>Share : </b></span>
											<span><a href="#"><i class="fab fa-facebook-f"></i></a></span>
											<span><a href="#"><i class="fab fa-twitter"></i></a></span>
											<span><a href="#"><i class="fab fa-instagram"></i></a></span>
											<span><a href="#"><i class="fab fa-linkedin"></i></a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Comment List -->
						<div class="comments-list-full mb-30">
							<h2>03 Comments</h2>
							<ul>
								<li class="single-comment">
									<div class="thum">
										<img src="assets/img/user-1.png" alt="thumb">
									</div>
									<div class="content">
										<h4><a href="#">Jonathom Doe</a></h4>
										<span> September 19, 2021 at 11:25 am </span>
										<p>Aenean volutpat sed lacus eu faucibus. Quisque nunc dui, finibus at bibendum et, egestas eget lectus. Ut iaculis tempor risus a dictum. Aenean volutpat sed lacus eu faucibus. Quisque nunc dui, finibus at bibendum et, egestas eget lectus. Ut iaculis tempor risus a dictum.</p>
										<a class="reply" href="#">Reply</a>
									</div>
									<ul class="comment-reply">
										<li>
											<div class="thum">
												<img src="assets/img/user-1.png" alt="thumb">
											</div>
											<div class="content">
												<h4><a href="#">Jonathom Doe</a></h4>
												<span> September 19, 2021 at 11:25 am </span>
												<p>Aenean volutpat sed lacus eu faucibus. Quisque nunc dui, finibus at bibendum et, egestas eget lectus. Ut iaculis tempor risus a dictum. </p>
												<a class="reply" href="#">Reply</a>
											</div>
										</li>
									</ul>
								</li>
								<li class="single-comment">
									<div class="thum">
										<img src="assets/img/user-1.png" alt="thumb">
									</div>
									<div class="content">
										<h4><a href="#">Jonathom Doe</a></h4>
										<span> September 19, 2021 at 11:25 am </span>
										<p>Aenean volutpat sed lacus eu faucibus. Quisque nunc dui, finibus at bibendum et, egestas eget lectus. Ut iaculis tempor risus a dictum. </p>
										<a class="reply" href="#">Reply</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- Comment Form -->
						<div class="comments-form-full">
							<h2>Leave your Comment here </h2>
							<form action="#">
								<textarea name="message" placeholder="Write Comment" spellcheck="false"></textarea>
								<input type="text" name="name" placeholder="Your Name">
								<input type="email" name="email" placeholder="Your Email">
								<input type="text" name="subjects" placeholder="Your Subjects">
								<button type="submit" class="button-1">Submit Comment</button>
							</form>
						</div>
					</div>
					<!-- Sidebar -->
					<div class="col-lg-4">
						<!-- Single -->
						<div class="sidebar-widgets">
							<h2>Search</h2>
							<div class="wi_search_form">
								<form action="#">
									<input type="text" name="search" placeholder="Search Here..">
									<button type="submit"><i class="bi bi-search"></i></button>
								</form>
							</div>
						</div>
						<!-- Single -->
						<div class="sidebar-widgets">
							<h2>Categories</h2>
							<ul>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> Apartments </a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> Picture Stodio </a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> Office </a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> Property Management</a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> Interior Design</a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> Build Wardrobes</a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> Floor Coverings</a></li>
							</ul>
						</div>
						<!-- Single -->
						<div class="sidebar-widgets">
							<h2>Recent Posts</h2>
							<div class="side-widgets-l-blog">
								<div class="item mb-20">
									<div class="thubnail">
										<a href="single.html">
											<img src="assets/img/blog/1.jpg" alt="blog">
										</a>
									</div>
									<div class="content">
										<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
										<span>18 September 2021</span>
									</div>
								</div>
								<div class="item mb-20">
									<div class="thubnail">
										<a href="single.html">
											<img src="assets/img/blog/2.jpg" alt="blog">
										</a>
									</div>
									<div class="content">
										<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
										<span>18 September 2021</span>
									</div>
								</div>
								<div class="item mb-20">
									<div class="thubnail">
										<a href="single.html">
											<img src="assets/img/blog/3.jpg" alt="blog">
										</a>
									</div>
									<div class="content">
										<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
										<span>18 September 2021</span>
									</div>
								</div>
								<div class="item">
									<div class="thubnail">
										<a href="single.html">
											<img src="assets/img/blog/1.jpg" alt="blog">
										</a>
									</div>
									<div class="content">
										<h4><a href="single.html">Five Ways to Develop a World Class Sales Operations</a></h4>
										<span>18 September 2021</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Single -->
						<div class="sidebar-widgets">
							<h2>Tags</h2>
							<div class="tagcloud">
								<a href="#">Popular</a>
								<a href="#">Design</a>
								<a href="#">Service</a>
								<a href="#">Interior</a>
								<a href="#">Apartments</a>
								<a href="#">Oil Change</a>
								<a href="#">Flor</a>
								<a href="#">Home Selling</a>
								<a href="#">Property</a>
								<a href="#">Management</a>
							</div>
						</div>
						<!-- Single -->
						<div class="sidebar-widgets">
							<h2>Archives</h2>
							<ul>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> September 2021</a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> October 2021</a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> August 2021</a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> July 2021</a></li>
								<li><a href="#"><i class="fas fa-angle-double-right"></i> June 2021</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->
	</div>
</body>
</html>