<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base.html :: head(${province.id == null ? 'Nouvelle province' : 'Modification de province'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/province/list}">Liste des provinces</a></li>
                <li th:text="${province.id == null ? 'Nouvelle province' : 'Modification de province'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
                <div th:replace="base.html :: alert(${notification})"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Formulaire</b>
                    </div>
                    <form onsubmit="submitForm(event)" th:action="@{/province/save}" th:object="${province}" autocomplete="off" method="post">
                        <div class="panel-body">
                            <input name="id" th:value="${province?.id}" type="hidden">
                            <div class="row">
                                <div class="form-group col-lg-12" th:classappend="${#fields.hasErrors('name') ? 'has-error' : ''}">
                                    <label for="name" class="control-label">Nom <span class="required-field">*</span></label>
                                    <input id="name" name="name" th:value="*{name}" class="form-control" required>
                                    <p class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary save-multiple">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer et ajouter une autre
                            </button>
                            <button type="submit" class="btn btn-success mx-2">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer
                            </button>
                            <button type="reset" class="btn btn-default">
                                <i class="fa fa-refresh"></i>
                                &nbsp; Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
