<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head('Détails sur la province')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <!--/*@thymesVar id="province" type="com.estate.domain.entity.Province"*/-->
    <div id="page-wrapper" th:object="${province}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/province/list}">Liste des provinces</a></li>
                <li th:utext="*{'Détails de la province <b>[ ' + name + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur la province</b>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <b>Nom</b>
                            <span class="pull-right"><em th:text="*{name}"></em></span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a role="button" th:href="@{/province/save}" class="btn btn-success lazy-link mr-3">
                            <i class="fa fa-plus-circle"></i>
                            &nbsp; Ajouter
                        </a>
                        <a role="button" th:href="@{'/province/save?id=' + ${province?.id}}" class="btn btn-primary lazy-link">
                            <i class="fa fa-pencil"></i>
                            &nbsp; Editer
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6 mb-6">
            <h4>Liste des villes</h4>
        </div>
        <div class="row mb-6">
            <div class="col">
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th class="fit-cell-content">N°</th>
                            <th>Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="city,iter: *{cities}">
                            <td th:text="${iter.count}"></td>
                            <td>
                                <a class="lazy-link" th:href="@{'/city/view/' + ${city.id}}" th:text="${city.name}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
