<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="base.html :: head('Liste des résultats')"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/quiz/list}">Liste des quiz</a></li>
                <li th:utext="${'Résultats du quiz <b>[ ' + quiz?.id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col mb-6">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button data-toggle="collapse" data-parent="#accordion" href="#collapseBox" class="collapsed btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    &nbsp; Rechercher
                                </button>
                            </h4>
                        </div>
                        <div id="collapseBox" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form onsubmit="submitForm(event)" th:action="@{/quiz/statistic/{id}/search(id=${quiz?.id})}" autocomplete="off" method="post">
                                    <input name="page" type="hidden" id="current-page" th:value="${currentPage}">
                                    <div class="row">
                                        <div class="form-group col-lg-4">
                                            <label for="provinceId">Province</label>
                                            <select id="provinceId" name="provinceId" class="form-control searchable-select-box" data-next=".city">
                                                <option value="-1" th:selected="${provinceId == -1}">Toutes les provinces ...</option>
                                                <option th:each="p: ${provinces}" th:value="${p.id}" th:data-id="${p.id}" data-option="-1" th:text="${p.name}" th:selected="${provinceId == p.id}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="cityId">Ville</label>
                                            <select id="cityId" name="cityId" class="form-control searchable-select-box city">
                                                <option value="-1" th:selected="${cityId == -1}">Toutes les villes ...</option>
                                                <option th:each="c: ${cities}" th:value="${c.id}" th:data-id="${c.id}" th:data-option="${c.province?.id}" th:text="${c.name}" th:selected="${cityId == c.id}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label for="category">Catégorie</label>
                                            <select id="category" name="category" class="form-control">
                                                <option value=" " th:selected="${category == null}">Toutes les catégories ...</option>
                                                <option value="Y" th:selected="${#strings.equals(category, 'Y')}">Jeunes</option>
                                                <option value="O" th:selected="${#strings.equals(category, 'O')}">Vieux</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" id="search-button-id" class="btn btn-success mr-2">
                                        <i class="fa fa-search"></i>
                                        &nbsp; Lancer la recherche
                                    </button>
                                    <button th:href="@{/quiz/statistic/{id}(id=${quiz?.id})}" role="link" class="lazy-link btn btn-default">
                                        <i class="fa fa-refresh"></i>
                                        &nbsp; Réinitialiser
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <b><u>NB:</u></b> &nbsp; Utilisez des critères précis lorsque c'est possible.
                        </div>
                    </div>
                </div>
                <table id="data-list" data-pdf-title="LISTE DES RESULTATS" data-pdf-name="Liste des résultats" class="table table-striped table-bordered table-hover paging searching dataTable">
                    <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Nom & Prénom</th>
                            <th>Âge</th>
                            <th>Sexe</th>
                            <th>Province</th>
                            <th>Ville</th>
                            <th class="fit-cell-content">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="participations" type="java.util.List<com.estate.domain.entity.Participation>"*/-->
                        <tr th:each="participation,iter: ${participations}" th:data-id="${participation.id}">
                            <td>
                                <a class="lazy-link" th:href="@{/player/view/{id}(id=${participation.player?.id})}" th:text="${participation.player?.pseudo}"></a>
                            </td>
                            <td th:text="${participation.player?.name}"></td>
                            <td th:text="${participation.player?.age}"></td>
                            <td th:text="${participation.player?.sex}"></td>
                            <td th:text="${participation.player?.city?.province?.name}"></td>
                            <td th:text="${participation.player?.city?.name}"></td>
                            <td th:text="${participation.mark} % 1 == 0 ? ${participation.mark} : ${#numbers.formatDecimal(participation.mark, 1, 2)}"></td>
                        </tr>
                    </tbody>
                </table>
                <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
                <!--/*@thymesVar id="search" type="java.lang.Boolean"*/-->
                <div th:if="${totalPages > 1}" class="mt-6" th:classappend="${search ? 'data-search' : ''}" id="pagination" th:title="${totalPages}" th:aria-placeholder="${currentPage}" th:aria-label="${'quiz/statistic/' + quiz?.id}"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>
</body>

</html>
