<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="creation" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
<!--/*@thymesVar id="mystery" type="com.estate.domain.entity.Mystery"*/-->
<head th:insert="base.html :: head(${creation ? 'Nouvelle question' : 'Modification de la question'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/mystery/list}">Liste des questions mystères</a></li>
                <li th:text="${creation ? 'Nouvelle question mystère' : 'Modification de la question mystère'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div th:replace="base.html :: alert(${notification})"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Formulaire</b>
                    </div>
                    <form onsubmit="submitMultipartForm(event)" th:action="@{/mystery/save}" method="post" autocomplete="off">
                        <div class="panel-body">
                            <div class="row">
                                <input name="id" th:value="${mystery?.id}" type="hidden">
                                <div class="form-group col-lg-6">
                                    <label for="week">Semaine <span class="required-field">*</span></label>
                                    <input id="week" name="week" type="week" th:value="${mystery?.week}" class="form-control" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="mystery-type">Type <span class="required-field">*</span></label>
                                    <select th:disabled="${!creation}" name="type" id="mystery-type" class="form-control" onchange="changeQuestionType(event)" required>
                                        <option th:each="type: ${T(com.estate.domain.enumaration.QuestionType).values()}" th:value="${type}" th:text="${type.name()}" th:selected="${mystery?.type?.equals(type)}"></option>
                                    </select>
                                </div>
                                <div th:unless="${creation}" class="col-lg-12">
                                    <b><i>Français</i></b>
                                    <hr class="mt-0">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="frFormulation">Question <span class="required-field">*</span></label>
                                    <input id="frFormulation" name="frFormulation" th:value="${mystery?.frFormulation}" class="form-control" required>
                                </div>
                                <div id="propositions" th:classappend="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type) ? 'd-none' : ''}">
                                    <div class="form-group col-lg-6">
                                        <label for="frPropositionA">Proposition A</label>
                                        <input id="frPropositionA" name="frPropositionA" th:value="${mystery?.frPropositionA}" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="frPropositionB">Proposition B</label>
                                        <input id="frPropositionB" name="frPropositionB" th:value="${mystery?.frPropositionB}" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="frPropositionC">Proposition C</label>
                                        <input id="frPropositionC" name="frPropositionC" th:value="${mystery?.frPropositionC}" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="frPropositionD">Proposition D</label>
                                        <input id="frPropositionD" name="frPropositionD" th:value="${mystery?.frPropositionD}" class="form-control">
                                    </div>
                                </div>
                                <div th:if="${creation || T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type)}" class="form-group col-lg-12">
                                    <label for="frAnswer">Réponse <span class="required-field">*</span></label>
                                    <input id="frAnswer" name="frAnswer" th:value="${mystery?.frAnswer}" class="form-control" required>
                                </div>
                                <th:block th:unless="${creation}">
                                    <div class="col-lg-12">
                                        <b><i>Anglais</i></b>
                                        <hr class="mt-0">
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label for="enFormulation">Question <span class="required-field">*</span></label>
                                        <input id="enFormulation" name="enFormulation" th:value="${mystery?.enFormulation}" class="form-control" required>
                                    </div>
                                    <div th:classappend="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type) ? 'd-none' : ''}">
                                        <div class="form-group col-lg-6">
                                            <label for="enPropositionA">Proposition A</label>
                                            <input id="enPropositionA" name="enPropositionA" th:value="${mystery?.enPropositionA}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="enPropositionB">Proposition B</label>
                                            <input id="enPropositionB" name="enPropositionB" th:value="${mystery?.enPropositionB}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="enPropositionC">Proposition C</label>
                                            <input id="enPropositionC" name="enPropositionC" th:value="${mystery?.enPropositionC}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="enPropositionD">Proposition D</label>
                                            <input id="enPropositionD" name="enPropositionD" th:value="${mystery?.enPropositionD}" class="form-control">
                                        </div>
                                    </div>
                                    <div th:if="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type)}" class="form-group col-lg-12">
                                        <label for="enAnswer">Réponse <span class="required-field">*</span></label>
                                        <input id="enAnswer" name="enAnswer" th:value="${mystery?.enAnswer}" class="form-control" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <b><i>Espagnol</i></b>
                                        <hr class="mt-0">
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label for="esFormulation">Question <span class="required-field">*</span></label>
                                        <input id="esFormulation" name="esFormulation" th:value="${mystery?.esFormulation}" class="form-control" required>
                                    </div>
                                    <div th:classappend="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type) ? 'd-none' : ''}">
                                        <div class="form-group col-lg-6">
                                            <label for="esPropositionA">Proposition A</label>
                                            <input id="esPropositionA" name="esPropositionA" th:value="${mystery?.esPropositionA}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="esPropositionB">Proposition B</label>
                                            <input id="esPropositionB" name="esPropositionB" th:value="${mystery?.esPropositionB}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="esPropositionC">Proposition C</label>
                                            <input id="esPropositionC" name="esPropositionC" th:value="${mystery?.esPropositionC}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="esPropositionD">Proposition D</label>
                                            <input id="esPropositionD" name="esPropositionD" th:value="${mystery?.esPropositionD}" class="form-control">
                                        </div>
                                    </div>
                                    <div th:if="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type)}" class="form-group col-lg-12">
                                        <label for="esAnswer">Réponse <span class="required-field">*</span></label>
                                        <input id="esAnswer" name="esAnswer" th:value="${mystery?.esAnswer}" class="form-control" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <b><i>Arabe</i></b>
                                        <hr class="mt-0">
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label for="arFormulation">Question <span class="required-field">*</span></label>
                                        <input id="arFormulation" name="arFormulation" th:value="${mystery?.arFormulation}" class="form-control" required>
                                    </div>
                                    <div th:classappend="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type) ? 'd-none' : ''}">
                                        <div class="form-group col-lg-6">
                                            <label for="arPropositionA">Proposition A</label>
                                            <input id="arPropositionA" name="arPropositionA" th:value="${mystery?.arPropositionA}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="arPropositionB">Proposition B</label>
                                            <input id="arPropositionB" name="arPropositionB" th:value="${mystery?.arPropositionB}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="arPropositionC">Proposition C</label>
                                            <input id="arPropositionC" name="arPropositionC" th:value="${mystery?.arPropositionC}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="arPropositionD">Proposition D</label>
                                            <input id="arPropositionD" name="arPropositionD" th:value="${mystery?.arPropositionD}" class="form-control">
                                        </div>
                                    </div>
                                    <div th:if="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type)}" class="form-group col-lg-12">
                                        <label for="arAnswer">Réponse <span class="required-field">*</span></label>
                                        <input id="arAnswer" name="arAnswer" th:value="${mystery?.arAnswer}" class="form-control" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <b><i>Portugais</i></b>
                                        <hr class="mt-0">
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label for="ptFormulation">Question <span class="required-field">*</span></label>
                                        <input id="ptFormulation" name="ptFormulation" th:value="${mystery?.ptFormulation}" class="form-control" required>
                                    </div>
                                    <div th:classappend="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type) ? 'd-none' : ''}">
                                        <div class="form-group col-lg-6">
                                            <label for="ptPropositionA">Proposition A</label>
                                            <input id="ptPropositionA" name="ptPropositionA" th:value="${mystery?.ptPropositionA}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="ptPropositionB">Proposition B</label>
                                            <input id="ptPropositionB" name="ptPropositionB" th:value="${mystery?.ptPropositionB}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="ptPropositionC">Proposition C</label>
                                            <input id="ptPropositionC" name="ptPropositionC" th:value="${mystery?.ptPropositionC}" class="form-control">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="ptPropositionD">Proposition D</label>
                                            <input id="ptPropositionD" name="ptPropositionD" th:value="${mystery?.ptPropositionD}" class="form-control">
                                        </div>
                                    </div>
                                    <div th:if="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type)}" class="form-group col-lg-12">
                                        <label for="ptAnswer">Réponse <span class="required-field">*</span></label>
                                        <input id="ptAnswer" name="ptAnswer" th:value="${mystery?.ptAnswer}" class="form-control" required>
                                    </div>
                                    <th:block th:if="${T(com.estate.domain.enumaration.QuestionType).QCM.equals(mystery?.type)}">
                                        <div class="col-lg-12"><hr></div>
                                        <div class="form-group col-lg-12">
                                            <label for="answer">Réponse <span class="required-field">*</span></label>
                                            <input id="answer" name="frAnswer" th:value="${mystery?.frAnswer}" class="form-control" required>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary save-multiple">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer et ajouter une autre
                            </button>
                            <button type="submit" class="btn btn-success mx-2">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer
                            </button>
                            <button type="reset" class="btn btn-default">
                                <i class="fa fa-refresh"></i>
                                &nbsp; Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
