<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="base.html :: head(${'Détails de la question'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <!--/*@thymesVar id="mystery" type="com.estate.domain.entity.Mystery"*/-->
    <div id="page-wrapper" th:object="${mystery}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/mystery/list}">Liste des questions mystères</a></li>
                <li th:utext="*{'Détails de la question <b>[ ' + id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur la question mystère</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped white-space-normal table-bordered border-none table-hover vertical-align-middle dataTable">
                            <thead>
                                <tr>
                                    <th colspan="6">Semaine du <span th:text="${#strings.replace(mystery?.interval, '-', 'au')}"></span></th>
                                </tr>
                                <tr>
                                    <th class="fit-cell-content">Langue</th>
                                    <th>Français</th>
                                    <th>Anglais</th>
                                    <th>Espagnol</th>
                                    <th>Arabe</th>
                                    <th>Portugais</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Formulation</th>
                                    <td th:text="*{frFormulation}"></td>
                                    <td th:text="*{enFormulation}"></td>
                                    <td th:text="*{esFormulation}"></td>
                                    <td th:text="*{arFormulation}"></td>
                                    <td th:text="*{ptFormulation}"></td>
                                </tr>
                                <tr th:if="${!#strings.isEmpty(mystery?.frPropositionA)}">
                                    <th>Proposition A</th>
                                    <td th:text="*{frPropositionA}"></td>
                                    <td th:text="*{enPropositionA}"></td>
                                    <td th:text="*{esPropositionA}"></td>
                                    <td th:text="*{arPropositionA}"></td>
                                    <td th:text="*{ptPropositionA}"></td>
                                </tr>
                                <tr th:if="${!#strings.isEmpty(mystery?.frPropositionB)}">
                                    <th>Proposition B</th>
                                    <td th:text="*{frPropositionB}"></td>
                                    <td th:text="*{enPropositionB}"></td>
                                    <td th:text="*{esPropositionB}"></td>
                                    <td th:text="*{arPropositionB}"></td>
                                    <td th:text="*{ptPropositionB}"></td>
                                </tr>
                                <tr th:if="${!#strings.isEmpty(mystery?.frPropositionC)}">
                                    <th>Proposition C</th>
                                    <td th:text="*{frPropositionC}"></td>
                                    <td th:text="*{enPropositionC}"></td>
                                    <td th:text="*{esPropositionC}"></td>
                                    <td th:text="*{arPropositionC}"></td>
                                    <td th:text="*{ptPropositionC}"></td>
                                </tr>
                                <tr th:if="${!#strings.isEmpty(mystery?.frPropositionD)}">
                                    <th>Proposition D</th>
                                    <td th:text="*{frPropositionD}"></td>
                                    <td th:text="*{enPropositionD}"></td>
                                    <td th:text="*{esPropositionD}"></td>
                                    <td th:text="*{arPropositionD}"></td>
                                    <td th:text="*{ptPropositionD}"></td>
                                </tr>
                                <tr>
                                    <th>Réponse</th>
                                    <td th:colspan="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type)} ? '1' : '5'" th:text="*{frAnswer}"></td>
                                    <th:block th:if="${T(com.estate.domain.enumaration.QuestionType).QRO.equals(mystery?.type)}">
                                        <td th:text="*{enAnswer}"></td>
                                        <td th:text="*{esAnswer}"></td>
                                        <td th:text="*{arAnswer}"></td>
                                        <td th:text="*{ptAnswer}"></td>
                                    </th:block>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a role="button" th:href="@{/mystery/save}" class="btn btn-success lazy-link mr-3">
                            <i class="fa fa-plus-circle"></i>
                            &nbsp; Ajouter
                        </a>
                        <a role="button" th:href="@{/mystery/save(id=*{id})}" class="btn btn-primary lazy-link">
                            <i class="fa fa-pencil"></i>
                            &nbsp; Editer
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-6">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Nombres de participants par provinces, villes et tranches d'âge</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped table-bordered border-none table-hover text-center vertical-align-middle dataTable">
                            <thead>
                            <tr>
                                <th rowspan="2" class="fit-cell-content">Provinces</th>
                                <th rowspan="2" class="fit-cell-content">Villes</th>
                                <th colspan="2">Tranches d'âge</th>
                                <th rowspan="2" class="fit-cell-content">TOTAL</th>
                            </tr>
                            <tr>
                                <th>Jeunes</th>
                                <th>Vieux</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="province, x: ${provinces}">
                                <tr th:each="city, y: ${province.cities}">
                                    <td th:if="${y.first}" th:rowspan="${#lists.size(province.cities)}" th:text="${province.name}"></td>
                                    <td th:text="${city.name}"></td>
                                    <td th:text="${participations.get(x.index).get(y.index)[0]}">0</td>
                                    <td th:text="${participations.get(x.index).get(y.index)[1]}">0</td>
                                    <th th:text="${participations.get(x.index).get(y.index)[2]}">0</th>
                                </tr>
                                <tr>
                                    <th colspan="2" th:text="${'SOUS-TOTAL ' + x.count}"></th>
                                    <th th:text="${totals.get(x.index)[0]}">0</th>
                                    <th th:text="${totals.get(x.index)[1]}">0</th>
                                    <th th:text="${totals.get(x.index)[2]}">0</th>
                                </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2">TOTAL</th>
                                    <th th:text="${total[0]}">0</th>
                                    <th th:text="${total[1]}">0</th>
                                    <th th:text="${total[2]}">0</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
