<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="base.html :: head(${'Détails de la publicité'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <!--/*@thymesVar id="advertisement" type="com.estate.domain.entity.Advertisement"*/-->
    <div id="page-wrapper" th:object="${advertisement}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/advertisement/list}">Liste des publicités</a></li>
                <li th:utext="*{'Détails de la publicité <b>[ ' + id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle fa-fw"></i>
                        <b>Informations sur la publicité</b>
                    </div>
                    <div class="list-group d-flex">
                        <div style="flex-grow: 1">
                            <div class="list-group-item">
                                <b>Titre</b>
                                <span class="pull-right"><em th:text="*{title}"></em></span>
                            </div>
                            <div th:if="${T(com.estate.domain.enumaration.MediaType).IMAGE.equals(advertisement?.type) && !#strings.isEmpty(advertisement?.externLink)}" class="list-group-item">
                                <b>Site web</b>
                                <span class="pull-right"><em><a th:href="*{externLink}" target="_blank">Ouvrir</a></em></span>
                            </div>
                            <div class="list-group-item">
                                <b>Type</b>
                                <span class="pull-right"><em th:text="*{type?.name}"></em></span>
                            </div>
                            <div class="list-group-item">
                                <b>Nombre de vues</b>
                                <span class="pull-right"><em th:text="*{views}"></em></span>
                            </div>
                            <div class="list-group-item">
                                <b>Date d'enregistrement</b>
                                <span class="pull-right"><em th:text="*{#temporals.format(createdAt, 'dd-MM-yyyy  HH:mm')}"></em></span>
                            </div>
                            <div class="list-group-item">
                                <b>Fichier</b>
                                <span class="pull-right"><em><a th:href="*{link}" th:data-download-src="*{link}" data-fancybox th:data-caption="${'<b>Publicité ' + advertisement.id + '<b> : <i>' + advertisement.title + '</i>'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}">Voir</a></em></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a role="button" th:href="@{/advertisement/save}" class="btn btn-success lazy-link mr-3">
                            <i class="fa fa-plus-circle"></i>
                            &nbsp; Ajouter
                        </a>
                        <a role="button" th:href="@{/advertisement/save(id=*{id})}" class="btn btn-primary lazy-link">
                            <i class="fa fa-pencil"></i>
                            &nbsp; Editer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
