<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="base.html :: head('Enregistrement des notes')"></head>
<!--/*@thymesVar id="participation" type="com.estate.domain.entity.Participation"*/-->
<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper" th:object="${participation}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/drive/list}">Liste des tests conducteurs</a></li>
                <li><a class="lazy-link" th:href="@{'/drive/view/' + ${participation?.game?.id}}" th:utext="*{'Détails du test conducteur <b>[ ' + game?.id + ' ]</b>'}"></a></li>
                <li>Enregistrement des notes pratiques</li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Formulaire</b>
                    </div>
                    <form onsubmit="return submitForm(event)" th:action="@{/drive/participation}" autocomplete="off" method="post">
                        <div class="panel-body">
                            <div class="row">
                                <input name="id" th:value="*{id}" type="hidden">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Candidat</label>
                                        <input th:value="*{player?.name}" class="form-control" autocomplete="off" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Démarrage et arrêt / 10 <span class="required-field">*</span></label>
                                        <input name="movement" type="number" min="0" max="10" th:value="*{movement}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Point de patinage / 10 <span class="required-field">*</span></label>
                                        <input name="skating" type="number" min="0" max="10" th:value="*{skating}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Démarrage en côte / 10 <span class="required-field">*</span></label>
                                        <input name="hillStart" type="number" min="0" max="10" th:value="*{hillStart}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Créneau / 10 <span class="required-field">*</span></label>
                                        <input name="niche" type="number" min="0" max="10" th:value="*{niche}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success mr-2">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer
                            </button>
                            <button type="reset" class="btn btn-default">
                                <i class="fa fa-refresh"></i>
                                &nbsp; Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
