<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="base.html :: head('Détails du test conducteur')"></head>
<!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
<!--/*@thymesVar id="drive" type="com.estate.domain.entity.Game"*/-->
<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper" th:object="${drive}">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/drive/list}">Liste des tests conducteurs</a></li>
                <li th:utext="*{'Détails du test conducteur <b>[ ' + id + ' ]</b>'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div th:replace="base.html :: alert(${notification})"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt fa-fw"></i>
                        <b>Liste des questions</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped table-bordered border-none table-hover text-center vertical-align-middle dataTable">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>ID</th>
                                    <th>Question</th>
                                    <th>Durée (en secondes)</th>
                                    <th>Réponse</th>
                                    <th>Justification</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="question, iter: *{questions}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${question.id}"></td>
                                    <td>
                                        <a th:href="${question.formulationLink}" th:data-download-src="${question.formulationLink}" data-fancybox="drive-test-questions" th:data-caption="${'<b>Question ' + question.id + '</b> | <b>Durée</b> : ' + question.duration + ' secondes'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}" th:text="${'Question-' + question.id}"></a>
                                    </td>
                                    <td th:text="${question.duration}"></td>
                                    <td th:text="${question.answer}"></td>
                                    <td>
                                        <a th:href="${question.justificationLink}" th:data-download-src="${question.justificationLink}" data-fancybox="drive-test-answers" th:data-caption="${'<b>Question ' + question.id + '</b> | Réponse : <b>' + question.answer + '</b>'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}" th:text="${'Justification-' + question.id}"></a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(drive?.questions)}" class="odd">
                                    <td valign="top" colspan="6" class="dataTables_empty">Aucune question</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-alt fa-fw"></i>
                        <b>Liste des publicités</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped table-bordered border-none table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th class="action fit-cell-content">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--/*@thymesVar id="advertisements" type="java.util.List<com.estate.domain.entity.Advertisement>"*/-->
                                <tr th:each="advertisement: *{advertisements}">
                                    <td th:text="${advertisement.title}"></td>
                                    <td class="fit-cell-content text-center">
                                        <a th:href="${advertisement.link}" th:data-download-src="${advertisement.link}" data-fancybox="advertisements" th:data-caption="${'<b>Publicité ' + advertisement.id + '<b> : <i>' + advertisement.title + '</i>'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}">Voir</a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(drive?.advertisements)}" class="odd">
                                    <td valign="top" colspan="2" class="dataTables_empty">Aucune publicité</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                        <b>Résultats du test conducteur</b>
                    </div>
                    <div class="panel-body p-0">
                        <table class="table table-striped table-bordered white-space-normal border-none table-hover text-center vertical-align-middle dataTable">
                            <thead>
                                <tr>
                                    <th>Candidat</th>
                                    <th>Sexe</th>
                                    <th>Âge</th>
                                    <th>Province</th>
                                    <th>Ville</th>
                                    <th>Note théorique</th>
                                    <th>Point de patinage (/10)</th>
                                    <th>Départ et arrêt (/10)</th>
                                    <th>Démarrage en côte (/10)</th>
                                    <th>Créneau (/10)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="participation, iter: *{participations}">
                                    <td th:text="${participation.player?.name}"></td>
                                    <td th:text="${participation.player?.sex}"></td>
                                    <td th:text="${participation.player?.age}"></td>
                                    <td th:text="${participation.player?.city?.province?.name}"></td>
                                    <td th:text="${participation.player?.city?.name}"></td>
                                    <td th:text="${participation.mark} % 1 == 0 ? ${participation.mark} : ${#numbers.formatDecimal(participation.mark, 1, 2)}"></td>
                                    <td th:text="${participation.skating}"></td>
                                    <td th:text="${participation.movement}"></td>
                                    <td th:text="${participation.hillStart}"></td>
                                    <td th:text="${participation.niche}"></td>
                                    <td><a th:href="@{'/drive/participation/' + ${participation.id}}">Noter</a></td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(drive?.participations)}" class="odd">
                                    <td valign="top" colspan="7" class="dataTables_empty">Aucun résultat</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <form onsubmit="submitForm(event)" th:action="@{'/drive/report/' + ${drive?.id}}" method="post">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-file-pdf-o"></i>
                                &nbsp; Envoyer le rapport
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
