<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="creation" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="pack" type="com.estate.domain.entity.Standing"*/-->
<!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
<head th:insert="base.html :: head(${#bools.isTrue(creation) ? 'Nouveau standing' : 'Modification du standing'})"></head>

<body>
<div id="wrapper">
    <div th:replace="header.html"></div>
    <div id="page-wrapper">
        <div class="row mt-6">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                <li><a class="lazy-link" th:href="@{/standing/list}">Liste des standings</a></li>
                <li th:text="${#bools.isTrue(creation) ? 'Nouveau standing' : 'Modification du standing'}"></li>
            </ol>
        </div>
        <div class="row">
            <div class="col">
                <div th:replace="base.html :: alert(${notification})"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Formulaire</b>
                    </div>
                    <form onsubmit="return submitForm(event)" th:action="@{/standing/save}" autocomplete="off" method="post">
                        <div class="panel-body">
                            <div class="row">
                                <input name="id" th:value="${standing?.id}" type="hidden">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="name">Nom <span class="required-field">*</span></label>
                                        <input id="name" name="name" th:value="${standing?.name}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="rent">Loyer par mois (FCFA) <span class="required-field">*</span></label>
                                        <input id="rent" name="rent" type="number" th:value="${standing?.rent}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="caution">Caution (FCFA) <span class="required-field">*</span></label>
                                        <input id="caution" name="caution" type="number" th:value="${standing?.caution}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="repair">Frais de réparation (FCFA) <span class="required-field">*</span></label>
                                        <input id="repair" name="repair" type="number" th:value="${standing?.repair}" class="form-control" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary save-multiple">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer et ajouter un autre
                            </button>
                            <button type="submit" class="btn btn-success mx-2">
                                <i class="fa fa-save"></i>
                                &nbsp; Enregistrer
                            </button>
                            <button type="reset" class="btn btn-default">
                                <i class="fa fa-refresh"></i>
                                &nbsp; Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="base.html :: scripts"></th:block>

</body>

</html>
