<div class="navbar-default navbar-static-side" role="navigation" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a th:href="@{/home}" class="lazy-link"><i class="fa fa-dashboard fa-fw"></i> &nbsp; Tableau de bord</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/log/list}"><i class="fa fa-history fa-fw"></i> &nbsp; Historique</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/mystery/list}"><i class="fa fa-question-circle fa-fw"></i> &nbsp; Base de mystères</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/question/list}"><i class="fa fa-question-circle-o fa-fw"></i> &nbsp; Base de questions</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/player/list}"><i class="fa fa-user fa-fw"></i> &nbsp; Gestion des joueurs</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/user/list}"><i class="fa fa-users fa-fw"></i> &nbsp; Gestion des utilisateurs</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/recharge/list}"><i class="fa fa-money fa-fw"></i> &nbsp; Gestion des recharges</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/media/list}"><i class="fa fa-image fa-fw"></i> &nbsp; Espace médias</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gamepad fa-fw"></i> &nbsp; Gestion des jeux <span class="fa arrow" style="margin-top: 4px"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a class="lazy-link" th:href="@{/quiz/list}">
                            <i class="fa fa-question-circle-o fr-mt-4"></i>
                            Quiz
                        </a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/battle/list}">
                            <i class="fa fa-group fr-mt-4"></i>
                            Battles
                        </a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/drive/list}">
                            <i class="fa fa-car fr-mt-4"></i>
                            Tests conducteurs
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i> &nbsp; Réglages<span class="fa arrow" style="margin-top: 4px"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a class="lazy-link" th:href="@{/merchant/list}">Marchands</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/province/list}">Provinces</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/city/list}">Villes</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/setting/list}">Paramètres</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/advertisement/list}">Publicités</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/standing/list}">Standings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>