<div class="navbar-default navbar-static-side" role="navigation" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a th:href="@{/home}" class="lazy-link"><i class="fa fa-dashboard fa-fw"></i> &nbsp; Tableau de bord</a>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/log/list}"><i class="fa fa-history fa-fw"></i> &nbsp; Historique</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-building-o fa-fw"></i> &nbsp; Location<span class="fa arrow" style="margin-top: 4px"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a class="lazy-link" th:href="@{/housing/list}">Logements</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/lease/list}">Contrats</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="lazy-link" th:href="@{/student/list}"><i class="fa fa-users fa-fw"></i> &nbsp; Étudiants</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-money fa-fw"></i> &nbsp; Finances<span class="fa arrow" style="margin-top: 4px"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a class="lazy-link" th:href="@{/payment/accounting}">Comptabilité</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/payment/list}">Paiements</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs fa-fw"></i> &nbsp; Réglages<span class="fa arrow" style="margin-top: 4px"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a class="lazy-link" th:href="@{/user/list}">Utilisateurs</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/standing/list}">Standings</a>
                    </li>
                    <li>
                        <a class="lazy-link" th:href="@{/setting/list}">Paramètres</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>