<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="notification" type="com.estate.domain.dto.Notification"*/-->
    <head th:replace="base.html :: head('Liste des médias')"></head>
    <body>
        <div id="wrapper">
            <div th:replace="header.html"></div>
            <div id="page-wrapper">
                <div class="row mt-6">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i> <a class="lazy-link" th:href="@{/home}">Accueil</a></li>
                        <li>Liste des médias</li>
                    </ol>
                </div>
                <div class="row">
                    <h4>Liste des médias</h4><hr>
                </div>
                <div class="row mb-6">
                    <div class="col">
                        <button class="lazy-link d-none" id="add-item" role="link" th:href="@{/media/save}"></button>
                        <button class="d-none" id="delete-items" onclick="invokeActionOnItems('media/delete', 'supprimer')" role="link"></button>
                        <div th:replace="base.html :: alert(${notification})"></div>
                        <table class="table table-striped table-bordered table-hover paging searching dataTable can-add can-delete exclude-first-sort multiple-selection" data-pdf-name="Liste des médias" data-pdf-title="LISTE DES MÉDIAS" id="data-list">
                            <thead>
                                <tr>
                                    <th class="action fit-cell-content">
                                        <input type="checkbox">
                                    </th>
                                    <th class="fit-cell-content">ID</th>
                                    <th>Titre</th>
                                    <th class="fit-cell-content">Type</th>
                                    <th class="fit-cell-content">Date et heure (GMT)</th>
                                    <th class="action fit-cell-content">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:data-id="${media.id}" th:each="media,iter: ${medias}">
                                    <td>
                                        <input th:data-index="${iter.count}" type="checkbox">
                                    </td>
                                    <td th:text="${media.id}"></td>
                                    <td>
                                        <a th:href="${media.link}" th:data-download-src="${media.link}" th:data-fancybox="${'medias-group-' + (iter.index / 50)}" th:data-caption="${'<b>Média ' + media.id + '<b> : <i>' + media.title + '</i>'}" th:data-thumb="${#request.getContextPath() + '/images/waterfall.png'}" th:text="${media.title}"></a>
                                    </td>
                                    <td th:text="${media.type?.name}"></td>
                                    <td th:text="${#temporals.format(media.createdAt, 'dd-MM-yyyy  HH:mm')}"></td>
                                    <td class="fit-cell-content text-center">
                                        <a class="dropdown-toggle" data-placement="auto" data-toggle="popover" data-trigger="focus" href="#" tabindex="0" th:data-target="${'popover-content-' + media.id}">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                        <div class="list-group" style="display: none" th:id="${'popover-content-' + media.id}">
                                            <a class="list-group-item lazy-link text-decoration-none text-left" th:href="@{'/media/view/' + ${media.id}}">
                                                <i class="fa fa-eye fa-fw"></i> Détails
                                            </a>
                                            <a class="list-group-item lazy-link text-decoration-none text-left" th:href="@{/media/save(id=${media.id})}">
                                                <i class="fa fa-pencil-square-o fa-fw"></i> Modifier
                                            </a>
                                            <a class="list-group-item text-decoration-none text-danger text-left" href="#" onclick="deleteItem(this.getAttribute('data-media-id'), 'media/delete')"
                                               th:data-media-id="${media.id}">
                                                <i class="fa fa-trash-o fa-fw"></i> Supprimer
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                        <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
                        <div th:if="${totalPages > 1}" class="mt-6" id="pagination" th:title="${totalPages}" th:aria-placeholder="${currentPage}" aria-label="media/list"></div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="base.html :: scripts"></th:block>
    </body>
</html>
